{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<div class="container-select container-fluid">
    <p class="header-text">Compare</p>
    <div class="dropdown-block">
        <label class="content-text-1" for="select_country">Country</label>
        <div id="select_country" class="custom-btn-group-1 btn-group">
            <button id="select-country-btn" class="custom-dropdown-btn-1 btn btn-inverse dropdown-toggle"
                    type="button" data-toggle="dropdown">
                Country
            </button>
            <ul id="select-country-list" class="dropdown-menu dropdown-menu-inverse" role="menu">
                {% for data in countries %}
                <li value="{{ data.id }}"><a href="#">{{ data.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="dropdown-block">
        <label class="content-text-1" for="select_env_1">Base Environment</label>
        <div id="select_env_1" class="custom-btn-group-1 btn-group">
            <button id="select-env-1-btn" class="custom-dropdown-btn-1 btn btn-inverse dropdown-toggle" type="button"
                    data-toggle="dropdown">
                Environment
            </button>
            <ul id="select-env-1-list" class="dropdown-menu dropdown-menu-inverse" role="menu">
                {% for data in environments %}
                <li value="{{ data.id }}"><a href="#">{{ data.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="dropdown-block">
        <label class="content-text-1" for="select_env_2">Compare Environment</label>
        <div id="select_env_2" class="custom-btn-group-1 btn-group">
            <button id="select-env-2-btn" class="custom-dropdown-btn-1 btn btn-inverse dropdown-toggle" type="button"
                    data-toggle="dropdown">
                Environment
            </button>
            <ul id="select-env-2-list" class="dropdown-menu dropdown-menu-inverse" role="menu">
                {% for data in environments %}
                <li value="{{ data.id }}"><a href="#">{{ data.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <form id="compare" method="post">
        {% csrf_token %}
        <input name='country' id="country_selected" value="{{ country }}" type="hidden">
        <input name='base_env' id="environment_1_selected" value="{{ env1 }}" type="hidden">
        <input name='compare_env' id="environment_2_selected" value="{{ env2 }}" type="hidden">
        <button class="custom-btn-1 btn btn-embossed btn-primary" type="submit" form="compare" value="Submit">
            Submit
        </button>
    </form>
</div>
{% endblock %}
