{% extends "base.html" %}
{% load staticfiles %}
{% block content %}


<div class="container-rule-detail container-fluid">
    <div class="table-responsive">
        <table class="custom-table-show-rule table table-bordered .table-sm">
            <thead class="thead-gray">
            <tr>
                <th class="ruleset-header-text" colspan="2">{{ rule_name }}</th>
            </tr>
            </thead>
            <tbody>
            {% for data in rule_data %}
            <tr class="custom-tr-ruleset-detail-table">
                <td class="detail-attribute">Process</td>
                <td class="detail-content">{{ data.process }}</td>
            </tr>
            <tr class="custom-tr-ruleset-detail-table">
                <td class="detail-attribute">OrganizationId</td>
                <td class="detail-content">{{ data.organization_id }}</td>
            </tr>
            <tr class="custom-tr-ruleset-detail-table">
                <td class="detail-attribute">OwnerRole</td>
                <td class="detail-content">{{ data.owner_role }}</td>
            </tr>
            <tr class="custom-tr-ruleset-detail-table">
                <td class="detail-attribute">ProcessStep</td>
                <td class="detail-content">{{ data.process_step }}</td>
            </tr>
            <tr class="custom-tr-ruleset-detail-table">
                <td class="detail-attribute">RuleType</td>
                <td class="detail-content">{{ data.rule_type }}</td>
            </tr>
            <tr class="custom-tr-ruleset-detail-table">
                <td class="detail-attribute">Key</td>
                <td class="detail-content">{{ data.key }}</td>
            </tr>
            <tr class="custom-tr-ruleset-detail-table">
                <td class="detail-attribute">Value</td>
                {% include 'rule_show_value.html' %}
            </tr>
            <tr class="custom-tr-ruleset-detail-table">
                <td class="border-bottom detail-attribute">Expression</td>
                {% include 'rule_show_expression.html' %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}