{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<div class="container-rule-list-item container-fluid">
    <div class="row rule_list_item_header">
        <div class="search_bar">
            <div class="input-group">
                <input type="text" class="search_bar_input form-control" placeholder="Search" id="search-query-3">
                <span class="input-group-btn">
                    <button type="submit" class="search_bar_button btn"><span class="fui-search"></span></button>
                  </span>
            </div>
        </div>
        <div class="icon_list">
            <div class="row icon_row">
                <div class="icon_mail_border">
                    <i class="icon_mail far fa-envelope"></i>
                </div>
                <div class="icon_download_border">
                    <a href="{% url 'report-download' compare_hash_key %}">
                        <i class="icon_download fas fa-download"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="rule_list_item_info">
        <div class="green_boarder_info_div">
            <div class="nav green_boarder_nav" data-target=".add_data">
                <div>
                    <i class="info_nav_icon fas fa-align-justify"></i>
                </div>
                <div class="info_nav_title file_title"> Information
                </div>
            </div>
            <div class="content">
                <div class="custom-row info_row">
                    <div class="info_title">Base Environment</div>
                    <div class="info_content">{{ base_env.name }}</div>
                </div>
                <div class="custom-row info_row">
                    <div class="info_title">Compared Environment</div>
                    <div class="info_content">{{ compare_env.name }}</div>
                </div>
                <div class="custom-row info_row">
                    <div class="info_title">Compared Time</div>
                    <div class="info_content">{{ current_time }}</div>
                </div>
                <div class="custom-row info_row">
                    <div class="info_title">Added Files</div>
                    <div class="info_content">{{ add_list|length }}</div>
                </div>
                <div class="custom-row info_row">
                    <div class="info_title">Removed Files</div>
                    <div class="info_content">{{ remove_list|length }}</div>
                </div>
                <div class="custom-row info_row">
                    <div class="info_title">Modified Files</div>
                    <div class="info_content">{{ modify_list|length }}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="rule_list_item">
        <div class="add_list">
            <div class="nav" data-toggle="collapse" data-target=".add_data">
                <div class="nav_title"> Added Files
                    <span class="fui-triangle-down"></span>
                </div>
            </div>
            {% for data in add_list %}
            <div class="collapse add_data data row">
                {% include 'rule_item_list_count.html' %}
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="rule_list_item">
        <div class="minus_list">
            <div class="nav" data-toggle="collapse" data-target=".minus_data">
                <div class="nav_title"> Removed Files
                    <span class="fui-triangle-down"></span>
                </div>
            </div>
            {% for data in remove_list %}
            <div class="collapse minus_data data row">
                {% include 'rule_item_list_count.html' %}
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="rule_list_item">
        <div class="modify_list">
            <div class="nav" data-toggle="collapse" data-target=".modify_data">
                <div class="nav_title"> Modified Files
                    <span class="fui-triangle-down"></span>
                </div>
            </div>
            {% for data in modify_list %}
            <div class="collapse modify_data data row">
                {% include 'rule_item_list_count.html' %}
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="rule_list_item">
        <div class="normal_list">
            <div class="nav" data-toggle="collapse" data-target=".normal_data">
                <div class="nav_title"> Normal Files
                    <span class="fui-triangle-down"></span>
                </div>
            </div>
            {% for data in normal_list %}
            <div class="collapse normal_data data row">
                {% include 'rule_item_list_count.html' %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}