{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <link href="{% static '/css/fontawesome/all.css' %}" rel="stylesheet">
    <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static '/css/flat-ui.css' %}" rel="stylesheet">
    <link href="{% static '/css/bootstrap-clockpicker.min.css' %}" rel="stylesheet">
    <link href="{% static '/css/admin_console.css' %}" rel="stylesheet">
    <link href="{% static '/css/main.css' %}" rel="stylesheet">
    <link href="{% static '/css/sweetalert.css' %}" rel="stylesheet">
    <script src="{% static '/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static '/js/sweetalert.min.js' %}"></script>
    <script src="{% static '/js/popper.js' %}"></script>
    <script src="{% static '/js/flat-ui.js' %}"></script>
    <script src="{% static '/js/bootstrap-clockpicker.min.js' %}"></script>
    <script src="{% static '/js/main.js' %}"></script>
    <script src="{% static '/js/rest-client.js' %}"></script>
    {% block resource %}
    {% endblock %}
</head>
<body>
<div class="base_container row">
    <div id="left_area">
        <div id="CMT_icon">
            <img src="{% static '/icons/CMT_icon2.png' %}">
        </div>
        <div id="info">
            <div id="user_info" class="info_block">
                <div class="info_title">USER ROLE</div>
                <div class="info_content">{{ admin_console_info.user_role.name }}</div>
            </div>
            <div id="module_info" class="info_block">
                <div class="info_title">MODULE</div>
                <div class="info_content">{{ admin_console_info.module.name }}</div>
            </div>
        </div>
        <div id="function_list">
             <div id="log_manager_div" class="function_div">
                <a data-toggle="collapse" href="#log_manager_list_div" role="button" aria-expanded="false"
                   aria-controls="log_manager_list_div">
                    <div class="row no-row-margin">
                        <div class="function_icon_div">
                            <img class="function_icon" src="{% static '/icons/server_log_white.png' %}">
                        </div>
                        <div class="function_text vertical_align_middle">Log Manager</div>
                    </div>
                </a>
            </div>
            <div id="log_manager_list_div" class="manager_list_div collapse multi-collapse">
                <div id="server_log_div">
                    <a href="{% url 'server-log' %}">
                        <div class="sub_function_text vertical_align_middle">Server Log</div>
                    </a>
                </div>
                <div id="ruleset_log_div">
                    <a href="{% url 'ruleset-log-list' %}">
                        <div class="sub_function_text vertical_align_middle">Ruleset Log</div>
                    </a>
                </div>
            </div>
{#            <div id="server_log_div" class="function_div">#}
{#                <a href="{% url 'server-log' %}">#}
{#                    <div class="row no-row-margin">#}
{#                        <div class="function_icon_div">#}
{#                            <img class="function_icon" src="{% static '/icons/server_log_white.png' %}">#}
{#                        </div>#}
{#                        <div class="function_text vertical_align_middle">Server Log</div>#}
{#                    </div>#}
{#                </a>#}
{#            </div>#}
            <div id="task_manager_div" class="function_div">
                <a data-toggle="collapse" href="#task_manager_list_div" role="button" aria-expanded="false"
                   aria-controls="task_manager_list_div">
                    <div class="row no-row-margin">
                        <div class="function_icon_div">
                            <img class="function_icon" src="{% static '/icons/task_manage_white.png' %}">
                        </div>
                        <div class="function_text vertical_align_middle">Task Manager</div>
                    </div>
                </a>
            </div>
            <div id="task_manager_list_div" class="manager_list_div collapse multi-collapse">
                <div id="report_task_div">
                    <a href="{% url 'report-scheduler-list' %}">
                        <div class="sub_function_text vertical_align_middle">ReportTask</div>
                    </a>
                </div>
                <div id="auto_sync_task_div">
                    <a href="{% url 'sync-scheduler-list' %}">
                        <div class="sub_function_text vertical_align_middle">AutoSyncTask</div>
                    </a>
                </div>
            </div>
            <div id="recover_function_div" class="function_div">
                <a href="{% url 'recover-filter-page' %}">
                    <div class="row no-row-margin">
                        <div class="function_icon_div">
                            <img id="recover_icon" class="function_icon" src="{% static '/icons/recover_icon.png' %}">
                        </div>
                        <div class="function_text vertical_align_middle">Recovery</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div id="right_area">
        <div id="nav_bar_top_div" class="row no-row-margin">
            <div id="login_info_div" class="row no-row-margin" data-toggle="dropdown">

                <div id="login_account_div" class="vertical_align_middle">{{ user_name }}</div>
                <div id="dropdown_option_div" class="vertical_align_middle">
                    <span id="dropdown_icon_span" class="fui-triangle-down"></span>
                </div>
                <div id="user_action_dropdown_div" class="dropdown-menu" aria-labelledby="login_info_div">
                    <li>
                        <a href="{% url 'password_change' %}" id="reset_password_link" class="dropdown-item">Reset
                            Password</a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}" id="logout_link" class="dropdown-item">Log Out</a>
                    </li>
                </div>
            </div>
        </div>
        <div id="content_area">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    {% csrf_token %}
</div>
</body>
<script>
    $('#user_action_dropdown_div a').on('click', function () {
        self.location = $(this).attr('href');
    });
</script>
</html>