{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
            integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
            crossorigin="anonymous"></script>
    <link href="{% static '/css/flat-ui.css' %}" rel="stylesheet">
    <link href="{% static '/css/bootstrap-clockpicker.min.css' %}" rel="stylesheet">
    <link href="{% static '/css/admin_console.css' %}" rel="stylesheet">
    <link href="{% static '/css/sweetalert.css' %}" rel="stylesheet">
    <script src="{% static '/js/sweetalert.min.js' %}"></script>
    <script src="{% static '/js/flat-ui.js' %}"></script>
    <script src="{% static '/js/application.js' %}"></script>
    <script src="{% static '/js/main.js' %}"></script>
    <script src="{% static '/js/bootstrap-clockpicker.min.js' %}"></script>
    <script src="{% static '/js/adminConsole/create-scheduler-task.js' %}"></script>
    <script src="{% static '/js/rest-client.js' %}"></script>
</head>
<body>
<div class="base_container row">
    <div id="left_area">
        <div id="CMT_icon">
            <img src="{% static '/icons/CMT_icon2.png' %}">
        </div>
        <div id="info">
            <div id="user_info" class="info_block">
                <div class="info_title">USER ROLE</div>
                <div class="info_content">{{ admin_console_info.user_role.name }}</div>
            </div>
            <div id="module_info" class="info_block">
                <div class="info_title">MODULE</div>
                <div class="info_content">{{ admin_console_info.module.name }}</div>
            </div>
        </div>
        <div id="function_list">
            <a href="{% url 'server-log' %}">
                <div class="function row">
                    <div class="function_icon_div">
                        <img class="function_icon" src="{% static '/icons/server_log_white.png' %}">
                    </div>
                    <div class="function_text">Server Log</div>
                </div>
            </a>
            <a href="{% url 'task-manager-list' %}">
                <div class="function row">
                    <div class="function_icon_div">
                        <img class="function_icon" src="{% static '/icons/task_manage_white.png' %}">
                    </div>
                    <div class="function_text">Task Manager</div>
                </div>
            </a>
        </div>
    </div>
    <div id="right_area">
        <div id="search_bar_menu" class="row">
            <div id="search_bar_area" class="row">
                <div id="search_icon_block">
                    <img id="search_icon" src="{% static '/icons/search.png' %}">
                </div>
                <div id="search_bar_input_block">
                    <input id="search_bar_input" type="text" class="form-control">
                </div>
            </div>
        </div>
        <div id="content_area">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>