{% extends "admin_console_base.html" %}
{% load staticfiles %}

{% block resource %}
    <link href="{% static '/css/ruleset_log_detail.css' %}" rel="stylesheet">
    <script src="{% static '/js/adminConsole/ruleset-log.js' %}"></script>
{% endblock %}
{% block content %}
    <div id="ruleset_log_detail_container" class="row no-row-margin">
        <div id="log_detail_div" class="admin_console_block_background custom_container">
            <div class="header_div row no-row-margin">
                <div id="action_div" class="vertical_align_middle"> {% include 'update_action_tag.html' %}</div>
                <div class="component_title vertical_align_middle">RS_TW_PROCESS</div>
            </div>
            <div id="information_div">
                <div class="row no-row-margin">
                    <div class="row_title_div vertical_align_middle">Log ID</div>
                    <div class="vertical_align_middle row_content_div">1</div>
                </div>
                <div class="row no-row-margin">
                    <div class="row_title_div vertical_align_middle">Date Time</div>
                    <div class="vertical_align_middle row_content_div">2019-05-28 17:22:00</div>
                </div>
                <div class="row no-row-margin">
                    <div class="row_title_div vertical_align_middle">Author</div>
                    <div class="row_content_div vertical_align_middle">Task Manager</div>
                </div>
                <div class="row no-row-margin">
                    <div class="row_title_div vertical_align_middle">Source Environment</div>
                    <div class="row_content_div vertical_align_middle">GIT</div>
                </div>
                <div class="row no-row-margin">
                    <div class="row_title_div vertical_align_middle">Target Environment</div>
                    <div class="row_content_div vertical_align_middle">INT2</div>
                </div>
                <div class="row no-row-margin">
                    <div class="row_title_div vertical_align_middle">Country</div>
                    <div class="row_content_div vertical_align_middle">
                        TW
                    </div>
                </div>
                <div class="row no-row-margin">
                    <div class="row_title_div vertical_align_middle">Commit SHA</div>
                    <div class="row_content_div vertical_align_middle">
                        f002352
                    </div>
                </div>
            </div>
        </div>
        <div id="task_detail_div" class="admin_console_block_background custom_container">
            <div class="header_div">
                <div class="component_title vertical_align_middle">Task Information</div>
            </div>
            <div id="information_div">
                <div class="row no-row-margin">
                    <div class="row_title_div vertical_align_middle">Task ID</div>
                    <div class="vertical_align_middle row_content_div">1</div>
                </div>
                <div class="row no-row-margin">
                    <div class="row_title_div vertical_align_middle">Creator</div>
                    <div class="row_content_div vertical_align_middle">wendy.wu</div>
                </div>
                <div class="row no-row-margin">
                    <div class="row_title_div vertical_align_middle">Created Time</div>
                    <div class="row_content_div vertical_align_middle">2019/04/03 15:30:21</div>
                </div>
                <div class="row no-row-margin">
                    <div class="row_title_div vertical_align_middle">Last Editor</div>
                    <div class="row_content_div vertical_align_middle">wendy.wu</div>
                </div>
                <div class="row no-row-margin">
                    <div class="row_title_div vertical_align_middle">Last Updated Time</div>
                    <div class="row_content_div vertical_align_middle">2019/05/02 10:30:21</div>
                </div>
            </div>
        </div>
        <div id="ruleset_detail_div" class="admin_console_block_background custom_container">
            <div class="header_div row no-row-margin">
                <div class="component_title vertical_align_middle">Ruleset Information</div>
                <div class="button_div">
                    <button type="button" class="btn btn-primary btn-sm">Pretty</button>
                    <button type="button" class="btn btn-primary btn-sm">Download</button>
                    <button type="button" class="btn btn-primary btn-sm">Diff Server</button>
                    <button type="button" class="btn btn-primary btn-sm">Diff Before</button>
                    <button type="button" class="btn btn-primary btn-sm">Apply</button>
                </div>
            </div>
            <div id="ruleset_content_div">
                "
                <BRERuleListType>
                    <Rule>
                        <CountryOrganizationId>HK</CountryOrganizationId>
                        <Context>
                            <OrganizationId>RS_HK_NEWUI</OrganizationId>
                        </Context>
                        <RuleType>Configuration</RuleType>
                        <Key>breNavigationMenu</Key>
                        <Expression>{
                            "menuItems": [
                            {
                            "name": "worklist",
                            "label": "Claim Manager",
                            "icon": "/XStatic/images/bre/menu_icons/small/icon-claim-manager.svg",
                            "process": "NO_PROCESS",
                            "step": "WorkListGrid",
                            "newPage": false
                            },
                            {
                            "name": "messagelist",
                            "label": "Messages",
                            "icon": "/XStatic/images/bre/menu_icons/small/icon-menu-compose-mail-redacted.svg",
                            "process": "NO_PROCESS",
                            "step": "MessageListGrid",
                            "newPage": false
                            },
                            {
                            "name": "support",
                            "label": "Support",
                            "icon": "/XStatic/images/bre/menu_icons/small/icon-support.svg",
                            "link": ${#supportLink},
                            "newPage": false
                            },
                            {
                            "name": "logout",
                            "label": "Log out",
                            "icon": "/XStatic/images/bre/menu_icons/small/icon-logout.svg",
                            "link": "/sso/logout",
                            "newPage": false
                            }
                            ]
                            }
                        </Expression>
                        <Status>Active</Status>
                        <CreatedBy>mid_Member.Manager</CreatedBy>
                        <LastUpdatedBy>mid_Member.Manager</LastUpdatedBy>
                    </Rule>
                    <Rule>
                        <CountryOrganizationId>HK</CountryOrganizationId>
                        <Context>
                            <OrganizationId>RS_HK_NEWUI</OrganizationId>
                        </Context>
                        <RuleType>Variable</RuleType>
                        <Key>supportLink</Key>
                        <Value>"mailto:support.apac1@audatex.com?subject=Support&amp;body="</Value>
                        <Status>Active</Status>
                        <CreatedBy>mid_Member.Manager</CreatedBy>
                        <LastUpdatedBy>mid_Member.Manager</LastUpdatedBy>
                    </Rule>
                </BRERuleListType>
                "
            </div>
        </div>
    </div>
    <script>
    </script>

{% endblock %}