{% extends "admin_console_base.html" %}
{% load static from staticfiles %}
{% block resource %}
    <script src="{% static '/js/adminConsole/scheduler-create.js' %}"></script>
{% endblock %}

{% block content %}
<div id="create_task_container" class="custom_container">
    <div id="content_header_div" class="row">
        <div class="component_title_modify_data">CREATE TASK</div>
        <div id="action_button_div" class="row no_row_margin">
            <div id="create_button_div">
                <a id="create_btn" class="btn btn-block btn-lg btn-warning" onclick="createBtnOnClick()">SAVE
                </a>
            </div>
        </div>
    </div>

    <div id="env_select_group_div" class="row no_row_margin">
        <div id="base_env_select_div" class="env_select_div">
            <div class="env_select_title">Environment :</div>
            <div id="base_env_dropdown_div" class="btn-group env_select_dropdown_div">
                <button id="select_base_env_btn" data-toggle="dropdown"
                        class="env_select_dropdown_btn btn btn-primary dropdown-toggle"
                        type="button"
                        aria-expanded="false">Select <span class="caret"></span></button>
                <ul id="base_env_select_list" role="menu" class="dropdown-menu env_select_dropdown_list_ul"
                    x-placement="bottom-start"
                    style="position: absolute; transform: translate3d(0px, 41px, 0px); top: 0px; left: 0px; will-change: transform;">
                    {% for data in environments %}
                    <li value="{{ data.id }}">
                        <a class="env_select_dropdown_list_item_text">{{ data.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div id="compare_env_select_div" class="env_select_div">
            <div class="env_select_title">Environment :</div>
            <div id="compare_env_dropdown_div" class="btn-group env_select_dropdown_div">
                <button id="select_compare_env_btn" data-toggle="dropdown"
                        class="env_select_dropdown_btn btn btn-primary dropdown-toggle"
                        type="button"
                        aria-expanded="false">Select <span class="caret"></span></button>
                <ul id="compare_env_select_list" role="menu" class="dropdown-menu env_select_dropdown_list_ul"
                    x-placement="bottom-start"
                    style="position: absolute; transform: translate3d(0px, 41px, 0px); top: 0px; left: 0px; will-change: transform;">
                    {% for data in environments %}
                    <li value="{{ data.id }}">
                        <a class="env_select_dropdown_list_item_text">{{ data.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div id="country_select_div">
        <div class="env_select_title">Country :</div>

        <div id="country_check_box_div" class="country_check_box_div row no_row_margin">
            {% for data in countries %}
            <div class="checkbox_input_div form-check form-check-inline">
                <input onclick="checkboxOnClick('{{ data.id }}')" class="form-check-input checkbox_input"
                       type="checkbox"
                       id="checkbox_input_{{ data.id }}" value="{{ data.id }}">
                <label class="form-check-label" for="checkbox_input_{{ data.id }}"> {{ data.full_name }}</label>
            </div>
            {% endfor %}
        </div>
    </div>

    <div id="time_select_group_div" class="row no_row_margin">
        <div id="select_proceed_time_div" class="time_select_div">
            <div class="env_select_title">Next Proceed Time :</div>
            <div id="clock_picker_div" class="time_input_div input-group clockpicker" data-placement="left"
                 data-align="top"
                 data-autoclose="true">
                <input id="clock_picker_input" type="text" class="time_input form-control" placeholder="Ex. 8:00">
                <span id="clock_picker_right_span" class="time_input_right_span input-group-addon">
                    <span id="clock_picker_icon_span" class="time_input_icon_span glyphicon fui-time"></span>
                </span>
            </div>
        </div>
        <div id="select_interval_time_div" class="time_select_div">
            <div class="env_select_title">Interval Hour :</div>
            <div id="hour_input_div" class="time_input_div input-group" data-placement="left"
                 data-align="top"
                 data-autoclose="true">
                <input id="hour_input" type="text" class="time_input form-control" placeholder="Enter Interval..">
                <span id="hour_input_right_span" class="time_input_right_span input-group-addon">
                        <span id="hour_input_icon_span" class="time_input_icon_span">Hour</span>
                </span>
            </div>
        </div>
    </div>

    <div id="mail_receiver_list_div">
        <div class="env_select_title">Receivers :</div>
        <div>
            <div id="mail_receiver_input_div" class="tagsinput-primary">
                <input id="mail_receiver_input" name="tagsinput" class="tagsinput" data-role="tagsinput"
                       placeholder="enter email..."
                       style="display: none;">
            </div>
        </div>
    </div>
</div>

<script>
    init("{{ admin_console_info.module.id }}",
        "{% url 'create-scheduler' %}",
        "{% url 'task-manager-list' %}");
    createBtnOnClick = function () {
        createTask();
    }
</script>
{% endblock %}