<div class="col count_div">
    {% if data.table_type == 'remove' %}
    <button type="submit" class="button_minus unclickable btn">
        {{ base_env.name }} <span class="span_minus badge badge-light">{{ data.remove_count }}</span>
    </button>
    {% elif data.table_type == 'add' %}
    <button type="submit" class="button_inactive unclickable btn">
        {{ base_env.name }} <span class="span_inactive badge badge-light">{{ data.remove_count }}</span>
    </button>
    {% elif data.remove_count == 0 %}
    <button type="submit" class="button_inactive unclickable btn">
        {{ base_env.name }} Only <span class="span_inactive badge badge-light">{{ data.remove_count }}</span>
    </button>
    {% else %}
    <button type="submit" class="button_minus unclickable btn">
        {{ base_env.name }} Only <span class="span_minus badge badge-light">{{ data.remove_count }}</span>
    </button>
    {% endif %}
</div>