<div class="col count_div">
    {% if data.new_count > 0 %}
    <a href="{% url 'rule-detail' compare_env.id country.id compare_hash_key data.name %}">
        <button type="submit" class="button_new btn btn-primary">
            {{ compare_env.name }} <span class="span_new badge badge-light">{{ data.new_count }}</span>
        </button>
    </a>
    {% elif data.new_count == 0 %}
    <button type="submit" class="button_new unclickable btn btn-primary">
        {{ compare_env.name }} <span class="span_new badge badge-light">{{ data.new_count }}</span>
    </button>
    {% endif %}
</div>