
<div class="col count_div">
    {% if data.add_count == 0 %}
    <button type="submit" class="button_add unclickable btn btn-primary">
        Add <span class="span_add badge badge-light">{{ data.add_count }}</span>
    </button>
    {% elif data.add_count == data.new_count %}
    <a href="{% url 'rule-detail' compare_env.id country.id compare_hash_key data.name %}">
        <button type="submit" class="button_add btn btn-primary">
            Add <span class="span_add badge badge-light">{{ data.add_count }}</span>
        </button>
    </a>
    {% elif data.add_count != data.new_count %}
    <a href="{% url 'rule-diff' base_env.id compare_env.id country.id compare_hash_key data.name %}">
        <button type="submit" class="button_add btn btn-primary">
            Add <span class="span_add badge badge-light">{{ data.add_count }}</span>
        </button>
    </a>
    {% endif %}
</div>