<div class="col count_div">
    {% if data.table_type == 'add' or data.table_type == 'normal' %}
    <button type="submit" class="button_inactive unclickable btn btn-primary">
        Remove <span class="span_inactive badge badge-light">{{ data.remove_count }}</span>
    </button>
    {% elif data.remove_count == 0 %}
    <button type="submit" class="button_minus unclickable btn btn-primary">
        Remove <span class="span_minus badge badge-light">{{ data.remove_count }}</span>
    </button>
    {% elif data.remove_count == data.base_count %}
    <a href="{% url 'rule-detail' base_env.id country.id compare_hash_key data.name %}">
        <button type="submit" class="button_minus btn btn-primary">
            Remove <span class="span_minus badge badge-light">{{ data.remove_count }}</span>
        </button>
    </a>
    {% elif data.remove_count != data.base_count %}
    <a href="{% url 'rule-diff' base_env.id compare_env.id country.id compare_hash_key data.name %}">
        <button type="submit" class="button_minus btn btn-primary">
            Remove <span class="span_minus badge badge-light">{{ data.remove_count }}</span>
        </button>
    </a>
    {% endif %}
</div>