{% load staticfiles %}
{% if rule_name_list|length > 0 %}
    {% for data in rule_name_list %}
        <div class="rule_name_item">
            <div class="row no-row-margin">
                <div id="row_checkbox_div"
                     class="checkbox_space_set checkbox_rule_name no-col-padding vertical_align_middle">
                    <input type="checkbox" data-toggle="switch" name="{{ data }}" data-on-color="primary"
                           data-off-color="default" id="switch-03" onclick="onCheckboxSelected()"/>
                </div>
                <div id="row_rule_name_div" class="rule_name_space_set rule_name_text no-col-padding">
                    {{ data }}
                </div>
                <div id="row_action_div" class="action_space_set icon_div no-col-padding vertical_align_middle">
                    <div>
                        <a href="" class="btn">
                            <img class="detail_icon" src="{% static '/icons/details_yellow.png' %}">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% if not forloop.last %}
            <div class="custom_divider"></div>
        {% endif %}
    {% endfor %}
{% else %}
    <div>No matching result.</div>
{% endif %}