<div class="col count_div">
    {% if data.table_type == 'add' %}
    <button type="submit" class="button_inactive unclickable btn btn-primary">
        <div class="row">
            <div class="environment_detail_text">
                {{ base_env.name }}
            </div>
            <i class="environment_detail_icon fas fa-angle-double-right"></i>
        </div>
    </button>
    {% else %}
    <a href="{% url 'rule-detail' compare_hash_key data.name %}">
        <button type="submit" class="button_origin btn btn-primary">
            <div class="row">
                <div class="environment_detail_text">
                    {{ base_env.name }}
                </div>
                <i class="environment_detail_icon fas fa-angle-double-right"></i>
            </div>
        </button>
    </a>
    {% endif %}
</div>