.idea
bower_components
.DS_Store
venv
*.XML
*.__pycache__
*.pyc
RulesetComparer/compare_result
RulesetComparer/serverlog
db.sqlite3
auth_data.json
RulesetComparer/migrations
RulesetComparer/rulesets/backup
RulesetComparer/rulesets/zip/*.zip
permission/migrations
common/migrations
static/admin
static/rest_framework
shared_storage/compare_result
shared_storage/tmp_file
auth_data_apac.json
auth_data_nl.json
shared_storage/migrations
