.idea
bower_components
.DS_Store
venv
*.XML
*.__pycache__
*.pyc
RulesetComparer/compare_result
RulesetComparer/serverlog
db.sqlite3
auth_data.json
RulesetComparer/migrations
RulesetComparer/rulesets/backup
RulesetComparer/rulesets/zip/*.zip
permission/migrations
common/migrations
static/admin
static/rest_framework
