[submodule "RulesetComparer/rulesets/Git_Branch_Test"]
	path = RulesetComparer/rulesets/Git_Branch_Test
	url = git@10.29.25.73:wendy_wu/fake_rule_set.git
[submodule "RulesetComparer/rulesets/Git_BRE_Rule_Set"]
	path = RulesetComparer/rulesets/Git_BRE_Rule_Set
	url = git@10.29.25.73:axn/bre_ruleset.git
