.idea
bower_components
.DS_Store
venv
*.XML
*.__pycache__
*.pyc
RulesetComparer/compare_result
RulesetComparer/serverlog
db.sqlite3
auth_data.json
RulesetComparer/rulesets/zip
RulesetComparer/migrations
__init__.py
RulesetComparer/rulesets/backup
