{% extends "account_base.html" %}
{% load staticfiles %}
{% block resource %}
    <link href="{% static '/css/password_change_done.css' %}" rel="stylesheet">
    <link href="{% static '/css/main.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div id="password_change_done_div" class="white_block_div">
        <div id="title_div">Password change successful</div>
        <div id="detail_text_div">Your password was changed.</div>
        <div id="back_button_div">
            <a href="{% url 'logout' %}" class="btn btn-block btn-lg btn-inverse">Back</a>
        </div>
    </div>
{% endblock %}