{% extends "account_base.html" %}
{% load staticfiles %}
{% block resource %}
    <link href="{% static '/css/password_change.css' %}" rel="stylesheet">
    <link href="{% static '/css/main.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div id="password_change_div" class="white_block_div">
        <div id="password_changed_form_div">
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="fieldWrapper">
                        {{ field.errors }}
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.help_text %}
                            <p class="help">{{ field.help_text|safe }}</p>
                        {% endif %}
                    </div>
                {% endfor %}
                <div id="submit_button_div">
                    <button type="submit" value="Change">Save</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}