#frequency_dropdown_div {
    width: 27%;
    margin-right: 25px;
}

#frequency_dropdown_button {
    width: 93%;
    background: #049092;
}

#frequency_dropdown_ul {
    width: 93%
}

#select_interval_time_div {
    width: 30%;
}

#repeat_input_div {
    width: 50%;
    margin-right: 10px;
}

#repeat_input {
    border-radius: 8px;
}

.repeat_text_div {
    margin-top: auto;
    font-size: 15px;
    margin-right: 10px;
}

