<div id="{{ type }}_select_dropdown_div" class="custom-btn-group-1 btn-group">
    <button id="{{ type }}_select_dropdown_btn"
            class="drop_down_button_width drop_down_button_color custom-dropdown-btn-1 btn btn-inverse dropdown-toggle"
            type="button" data-toggle="dropdown">
        Select
    </button>
    <ul id="{{ type }}_select_dropdown_list" class="dropdown-limit dropdown-menu dropdown-menu-inverse"
        role="menu">
        {% for object in data %}
            <li value="{{ object.id }}"><a href="#">{{ object.name }}</a></li>
        {% endfor %}
    </ul>
</div>