/* container */
.container-select {
    max-width: 600px;
    text-align: center;
}

.container-rule-detail {
    max-width: 50%;
    text-align: center;
}

.container-rule-diff {
    max-width: 70%;
    text-align: center;
}

.container-rule-list-compare-result {
    max-width: 50%;
    text-align: center;
}

.container-rule-list-item {
    max-width: 90%;
    text-align: center;
}

.container-rule-list-item .nav {
    background: #3498db;
    color: white;
    width: 100%;
    padding: 10px;
    border-radius: 8px;
}

/* button */
.custom-btn-group-1 {
    display: initial;
}

.rule_list_item_add{
    border: #ffc107;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    padding-bottom: 10px;
}

.rule_list_item_add .nav{
    background: #ffc107;
    color: white;
    width: 100%;
    padding: 5px 10px 5px 15px;
    border-radius: 3px;
    font-size: 14px;
}

.rule_list_item_add .rule_set_name{
    font-size: 13px;
    font-family: inherit;
    font-weight: 500;
    color: #34495d;
    margin-left: 10px;
    text-align: left;
}

.rule_list_item_add .button_origin{
    margin-top: 10px;
    font-size: 12px;
    color: var(--gray);
    background: white;
    padding: 0px 0px 0px 0px !important;
}

.rule_list_item_add .span_origin{
    background-color: var(--gray);
    border: var(--gray);
    border-style: solid;
    border-width: 0.5px;
    color: white;
    border-radius: 10px;
    font-size: 4px;
}

.rule_list_item_add .button_new{
    margin-top: 10px;
    font-size: 12px;
    color: #0995f0;
    background: white;
    padding: 0px 0px 0px 0px !important;
}

.rule_list_item_add .span_new{
    background-color:#0995f0;
    border: #0995f0;
    border-style: solid;
    border-width: 0.5px;
    color: white;
    border-radius: 10px;
    font-size: 4px;
}

.rule_list_item_add .button_add{
    margin-top: 10px;
    font-size: 12px;
    color: #1abc9c;
    background: white;
    padding: 0px 0px 0px 0px !important;
}

.rule_list_item_add .span_add{
    background-color: #1abc9c;
    border: #1abc9c;
    border-style: solid;
    border-width: 0.5px;
    color: white;
    border-radius: 10px;
    font-size: 4px;
}

.rule_list_item_add .button_minus{
    margin-top: 10px;
    font-size: 12px;
    color: #c43a45;
    background: white;
    padding: 0px 0px 0px 0px !important;
}

.rule_list_item_add .span_minus{
    background-color:#c43a45;
    border: #c43a45;
    border-style: solid;
    border-width: 0.5px;
    color: white;
    border-radius: 10px;
    font-size: 4px;
}

.rule_list_item_add .button_modify{
    margin-top: 10px;
    font-size: 12px;
    color: #f9ba05;
    background: white;
    padding: 0px 0px 0px 0px !important;
}

.rule_list_item_add .span_modify{
    background-color:#f9ba05;
    border: #f9ba05;
    border-style: solid;
    border-width: 0.5px;
    color: white;
    border-radius: 10px;
    font-size: 4px;
}


.custom-btn-1 {
    font-size: 18px;
    width: 20%;
    font-weight: 700;
}

.custom-btn-ruleset-action {
    padding: 5px 13px;
    font-size: 14px;
}

/* drop down */
.custom-dropdown-btn-1 {
    min-width: 30%;
    margin: 0px auto;
}

.dropdown-block {
    margin-bottom: 22px;
}

/* text */
.header-text {
    font-weight: 600;
    font-size: 20px;
}

.ruleset-header-text {
    padding: .4rem !important;
    color: #094382;
    font-weight: 600;
    font-family: "Lato";
}

.content-text-1 {
    width: 100%;
}

.error_text {
    font-size: 16px !important;
    margin-top: 50px;
    margin-bottom: 50px;
    color: red;
    font-weight: bold;
}

/* table */
.custom-table-show-rule {
    table-layout: fixed;
    text-overflow: initial;
    word-break: break-all;
}

/* table tr */
.custom-tr-ruleset-table {
    line-height: 10px;
    min-height: 10px;
    height: 45px;
}

.custom-tr-ruleset-detail-table {
    line-height: 10px;
    min-height: 10px;
    height: 24px;
}

/* table td */
.custom_td_ruleset_name {
    text-align: start;
    width: 50%;
    font-size: 15px;
    font-weight: 500;
    vertical-align: middle !important;
    padding: .35rem !important;
    border-top: 0px !important;
}

.custom_td_ruleset_icon {
    vertical-align: middle !important;
    padding: .35rem !important;
    border-top: 0px !important;
}

.container-rule-diff .td_environment {
    color: #73859f;
    width: 25%;
    vertical-align: middle !important;
    padding: .35rem !important;
    font-size: 15px;
    font-weight: 800;
}

.container-rule-diff .detail-attribute {
    color: #73859f;
    width: 25%;
    vertical-align: middle !important;
    padding: .35rem !important;
    font-size: 13px;
    font-weight: 400;
}

.container-rule-detail .detail-attribute {
    color: #73859f;
    width: 35%;
    vertical-align: middle !important;
    padding: .35rem !important;
    font-size: 13px;
    font-weight: 400;
}

.container-rule-detail .detail-content {
    color: #7d8994;
    font-size: 12px;
    font-family: initial;
    text-align: start;
    vertical-align: middle !important;
    padding: .35rem !important;
    line-height: 15px;
}

.container-rule-diff .detail-content {
    width: 40%;
    color: #7d8994;
    font-size: 12px;
    font-family: initial;
    text-align: start;
    vertical-align: middle !important;
    padding: .35rem !important;
    line-height: 15px;
}

.container-rule-detail .border-bottom {
    border-bottom: 5px solid #dce6ec !important;
}

.container-rule-diff .border-bottom {
    border-bottom: 5px solid #dce6ec !important;
}
