html, body {
    height: 100%;
}

#password_change_done_div {
    width: 45%;
    padding: 30px;
    position: relative;
    top: 45%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    transform: translateY(-50%);
}

#title_div{
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    color: #273565;
}

#detail_text_div{
    font-size: 20px;
    text-align: center;
    color: #b8b8b8;
}

#back_button_div{
    margin-top: 30px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}