#create_report_task_container {
    padding: 20px;
    height: 100%;
}

#create_report_task_container #header_div {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 15px;
}

#create_report_task_container .page_title_div {
    font-size: 18px;
    font-weight: 800;
    color: #088587;
}

#action_button_div {
    width: 10%;
    margin-left: auto;
}

#create_button_div {
    width: 80%;
    margin-left: auto;
}

#create_btn {
    color: white;
    font-family: "Lato";
    font-weight: 700;
}

/* environment */
#env_group_div {
    margin-bottom: 50px;
}

.env_select_div {
    width: 35%;
}

.env_select_dropdown_div {
    width: 60%;
}

.env_select_dropdown_btn {
    width: 100%;
    background-color: #088587;
}

.env_select_dropdown_list_ul {
    width: 60%;
    max-height: 150px;
    overflow: scroll;
    background: #4fb99f;
}

.env_select_dropdown_list_item_text {
    color: white !important;
    font-size: 15px;
}

/* country */
#country_select_div {
    margin-bottom: 50px;
}

.checkbox_input_div {
    width: 18%;
}

.checkbox_input {
    width: 24px;
    height: 24px;
}

/* mail content */
#mail_content_select_div {
    margin-bottom: 50px;
}

/* time select */
#time_select_group_div {
    margin-bottom: 50px;
}

#clock_picker_div {
    width: 27%;
}


#mail_receiver_input_div {
    width: 56%;
}

#mail_receiver_input {
    width: 100%;
}

.time_input {
    border-color: #049092;
}

/* time select */
#repeat_frequency_div {
    margin-bottom: 50px;
}

