.environment_role_permission_div {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 80%;
    padding: 20px;
    border-radius: 10px;
    border: solid 4px #44578b;
}

.environment_name_div {
    color: #1e3a84;
    font-size: 18px;
    font-weight: 800;
    margin-left: 10px;
}

.edit_icon_div {
    margin-left: auto;
    margin-right: 10px;
}

.edit_icon {
    width: 24px;
    cursor: pointer;
}

.role_permission_title_div {
    width: 15%;
}

.role_type_div {
    width: 17%;
    text-align: center;
}

.divider {
    height: 2.5px;
    background: #1e3a84;
    width: 100%;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 20px;
}

.function_role_permission_div {
    padding-left: 10px;
    padding-right: 10px;
}

.function_name_div {
    font-size: 15px;
    color: #1e3a84;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 800;
}

.role_type_enable_text_div {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    color: #1e3a84a6;
}

.role_type_title {
    font-size: 14px;
    font-weight: 700;
    color: #849aa4;
    margin-bottom: 10px;
}

.role_type_enable_div {
    font-size: 14px;
}

.cross_icon {
    color: #bc4561;
}

.check_icon {
    color: #1aba9a;
}

.expand_button_div{
    margin-top: 10px;
}

.expand_button_icon{
    color: #1e3a84;
    margin-right: auto;
    margin-left: auto;
}

.hide_button_div{
    margin-top: 10px;
    display: none;
}

.hide_button_icon{
    color: #1e3a84;
    margin-right: auto;
    margin-left: auto;
}