#ruleset_log_container {

}

#filter_column_div{
    margin-bottom: 30px;
}

#ruleset_log_container .header_div {
    margin-bottom: 15px;
}

#ruleset_log_container #title_div {
    background: #eaeef0;
    margin-left: 0px;
    margin-right: 0px;
    height: 50px;
    padding-left: 15px;
}

#ruleset_log_container .filter_row {
    padding-left: 15px;
    margin-bottom: 15px;
}

#ruleset_log_container .filter_title_div {
    font-family: auto;
    font-weight: 600;
    font-size: 15px;
    margin-right: 30px;
    color: #849aa4;
    margin-bottom: 10px;
}

#ruleset_log_container .filter_tags_div {
    width: 80%;
}

#ruleset_log_list_pager_div {
    width: 60%;
    margin-left: auto;
}

#ruleset_log_list_pager_div ul {
    margin-bottom: auto;
    text-align: right;
}

.filter_tags_div .btn {
    background-color: #89a3be;
    color: white;
    margin-right: 5px;
    border-radius: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 13px;
    font-weight: 600;
}

.filter_tag_div {
    cursor: pointer;
    background-color: #afb7c0;
    color: white;
    margin-right: 5px;
    border-radius: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 13px;
    font-weight: 600;
    transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
}

.filter_tag_div.clicked {
    cursor: pointer;
    background-color: #34619b;
    color: white;
    margin-right: 5px;
    border-radius: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 13px;
    font-weight: 600;
    transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
}

#filter_div {
    width: 80%;
}

#filter_div .bootstrap-tagsinput {
    border-color: #34619b;
    margin-bottom: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    width: 55%;
}

.bootstrap-tagsinput .badge {
    background-color: #34619b;
}

.pagination-plain a {
    color: #33629b61;
}

.pagination-plain .previous a {
    color: #32639b;
}

.pagination-plain .next a {
    color: #32639b;
}

.pagination-plain li.active a {
    color: #32639b;
}

#ruleset_log_container .environment_div {
    font-size: 14px;
    font-family: inherit;
}

#ruleset_log_container .environment_icon {
    width: 26px;
    height: 28px;
    margin-right: 10px;
    margin-left: auto;
}

#ruleset_log_container .environment_text {
    margin-right: auto;
}

#ruleset_log_container .country_div {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#ruleset_log_container .task_nation_flag {
    width: 32px;
}

#ruleset_log_container .title_text {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    color: #849aa4;
}

#ruleset_log_container .title_text_left {
    text-align: left;
    font-size: 14px;
    font-weight: 700;
    color: #849aa4;
}

#ruleset_log_container .status_width {
    width: 5%;
    margin-right: 1%;
}

#ruleset_log_container .id_width {
    width: 5%;
    margin-right: 1%;
}

#ruleset_log_container .date_width {
    width: 13%;
    margin-right: 1%;
}

#ruleset_log_container .author_width {
    width: 10%;
    margin-right: 1%;
}

#ruleset_log_container .action_width {
    width: 9%;
    margin-right: 1%;
}

#ruleset_log_container .ruleset_width {
    width: 25%;
}

#ruleset_log_container .environment_width {
    width: 5%;
    margin-right: 1%;
}

#ruleset_log_container .country_width {
    width: 8%;
    margin-right: 1.5%;
}

#ruleset_log_container .button_width {
    width: 3%;
    margin-right: 1%;
}

#log_list_div .list_row_div {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 7px;
    padding-left: 15px;
    padding-top: 7px;
}

#log_list_div .list_text {
    font-size: 14px;
    font-family: inherit;
    text-align: center;
    word-break: break-word;
}

#log_list_div .list_text_left {
    font-size: 14px;
    font-family: inherit;
    text-align: left;
    word-break: break-word;
}

#log_list_div .list_button_div {
    text-align: right;
    margin-left: auto;
}

#log_list_div .more_icon_size {
    width: 18px;
    height: 16px;
}