#user_role_edit_container {
    padding-left: 20px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#title_row_div {
    width: 100%;
}

#user_name_div {
    font-size: 20px;
    font-weight: 800;
    color: #1abc9b;
    margin-left: 10px;
}

#save_button_div {
    margin-left: auto;
    margin-right: 5px;
}

.divider {
    height: 1px;
    width: 100%;
    background: #c9cbcb33;
    border-radius: 8px;
    margin-top: 30px;
    margin-bottom: 15px;
}

.environment_divider {
    height: 1px;
    width: 100%;
    background: #c9cbcb33;
    border-radius: 8px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.environment_roles_div {
    width: 100%;
}

.environment_title_div {
    font-weight: 600;
    font-size: 16px;
    color: #33495f;
    padding-left: 15px;
    margin-bottom: 5px;
}

.checkbox_outer_div {
    width: 20%;
}

.checkbox_div {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    color: #6f8398b8;
}

.checkbox_div_checked {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    color: #1abc9b;
}