{% load staticfiles %}

<div id="{{ side }}_side_div" class="half_width row no-row-margin">
    <div id="{{ side }}_environment_div" class="environment_div row no-row-margin">
        <img class="info_icon" src="{% static '/icons/detail_data_center.png' %}">
        <div id="environment_text_div" class="info_text">{{ region.name }} {{ environment.name }}</div>
    </div>
    <div id="left_folder_div" class="environment_div row no-row-margin">
        <div id="left_folder_div" class="row no-row-margin">
            <img class="folder_icon" src="{% static '/icons/detail_folder.png' %}">
            <div id="folder_text_div" class="info_text">{{ folder }}</div>
        </div>
    </div>
    <div id="{{ side }}_download_button_div">
        <button class="btn btn-embossed btn-info"
                onclick="downloadFiles('{{ region.id }}','{{ environment.id }}','{{ data.root_key }}','{{ path }}')">
            Download
        </button>
    </div>
</div>