{% load staticfiles %}

<div id="{{ child_node.compare_hash_key }}_folder_child_div"
     class="show collapse folder_child_div_{{ child_node.depth }}">
    {% with parent_node=child_node %}
        {% for child_node in parent_node.child_nodes %}
            <div id="{{ child_node.compare_hash_key }}_data_line_div"
                 onclick='dataLineOnclick(this,"{{ child_node.type }}","{{ child_node.diff_result }}","{% url 'shared_storage:select-to-compare-file-detail-page' side data.compare_hash_key child_node.compare_hash_key child_node.diff_result child_node.type %}","{% url 'shared_storage:select-to-compare-file-diff-page' data.compare_hash_key child_node.compare_hash_key child_node.type %}")'
                 class="folder_data_line row no-row-margin"
                 data-toggle="collapse"
                 href="#{{ child_node.compare_hash_key }}_folder_child_div"
                 role="button"
                 aria-expanded="true"
                 aria-controls="{{ child_node.compare_hash_key }}_folder_child_div">
                {% include 'compare_result_line.html' %}
            </div>
            {% include 'normal_folder_expand_component.html' %}
        {% endfor %}
    {% endwith %}
</div>