{% load staticfiles %}

<div id="{{ side }}_folder_{{ child_node.depth }}_{{ child_node.index }}_{{ child_node.compare_hash_key }}_child_div"
     class="show collapse folder_child_div_{{ child_node.depth }}">
    {% with parent_node=child_node %}
        {% for child_node in parent_node.child_nodes %}
            <div class="folder_data_line row no-row-margin"
                 data-toggle="collapse"
                 href="#{{ side }}_folder_{{ child_node.depth }}_{{ child_node.index }}_{{ child_node.compare_hash_key }}_child_div"
                 role="button"
                 aria-expanded="true"
                 aria-controls="{{ side }}_folder_{{ child_node.depth }}_{{ child_node.index }}_{{ child_node.compare_hash_key }}_child_div">
                {% include 'compare_result_line.html' %}
            </div>
            {% include 'side_folder_compare_expand_component.html' %}
        {% endfor %}
    {% endwith %}
</div>