{% extends "shared_storage_admin_console_base.html" %}
{% load static from staticfiles %}
{% block resource %}
    <link href="{% static '/css/shared_storage/shared-storage-report-scheduler-create.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/material_green.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="{% static '/js/shared_storage/shared_storage_report_scheduler_create.js' %}"></script>
    <script src="{% static '/js/shared_storage/shared_storage_report_scheduler_update.js' %}"></script>
    <script src="{% static '/js/component/compare_region_dropdowns.js' %}"></script>
    <script src="{% static '/js/component/compare_environment_dropdowns.js' %}"></script>
    <script src="{% static '/js/component/compare_folder_dropdowns.js' %}"></script>
{% endblock %}

{% block content %}
    <div id="create_report_task_container" class="custom_container admin_console_block_background">
        <div id="header_div" class="row">
            <div class="page_title_div">UPDATE TASK</div>
            <div id="action_button_div" class="row no_row_margin">
                <div id="create_button_div">
                    <a id="create_btn" class="btn btn-block btn-lg btn-warning" onclick="updateBtnOnClick()">SAVE
                    </a>
                </div>
            </div>
        </div>
        <div class="row no-row-margin">
            <div id="left_data_div">
                <div id="left_region_dropdown_div" class="dropdown-block">
                    <div class="drop_down_label_text" for="select_country">Data Center</div>
                    <div id="left_select_region" class="custom-btn-group-1 btn-group">
                        <button id="left_select_region_btn"
                                class="drop_down_button_width custom-dropdown-btn-1 btn btn-inverse dropdown-toggle"
                                type="button" data-toggle="dropdown">
                            Select
                        </button>
                        <ul id="left_select_region_list" class="dropdown-limit dropdown-menu dropdown-menu-inverse"
                            role="menu">
                            {% for region in regions %}
                                <li value="{{ region.id }}"><a href="#">{{ region.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div id="left_environment_dropdown_div" class="dropdown-block">
                    {% with type="environment" side="left" title="Environment" data="" %}
                        {% include 'select_to_compare_dropdown.html' %}
                    {% endwith %}
                </div>
                <div id="left_folder_dropdown_div" class="dropdown-block">
                    {% with type="folder" side="left" title="Folder" data="" %}
                        {% include 'select_to_compare_dropdown.html' %}
                    {% endwith %}
                </div>
            </div>
            <div id="right_data_div">
                <div id="right_region_dropdown_div" class="dropdown-block">
                    <div class="drop_down_label_text" for="select_country">Data Center</div>
                    <div id="right_select_region" class="custom-btn-group-1 btn-group">
                        <button id="right_select_region_btn"
                                class="drop_down_button_width custom-dropdown-btn-1 btn btn-inverse dropdown-toggle"
                                type="button" data-toggle="dropdown">
                            Select
                        </button>
                        <ul id="right_select_region_list" class="dropdown-limit dropdown-menu dropdown-menu-inverse"
                            role="menu">
                            {% for region in regions %}
                                <li value="{{ region.id }}"><a href="#">{{ region.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div id="right_environment_dropdown_div" class="dropdown-block">
                    {% with type="environment" side="right" title="Environment" data="" %}
                        {% include 'select_to_compare_dropdown.html' %}
                    {% endwith %}
                </div>
                <div id="right_folder_dropdown_div" class="dropdown-block">
                    {% with type="folder" side="right" title="Folder" data="" %}
                        {% include 'select_to_compare_dropdown.html' %}
                    {% endwith %}
                </div>
            </div>
        </div>

        <div id="time_select_group_div" class="row no_row_margin">
            {% include 'date_time_picker.html' %}
        </div>
        <div id="repeat_frequency_div">
            {% include 'repeat_frequency_row.html' %}
        </div>

        <div id="mail_receiver_list_div">
            <div class="block_title_div">Receivers :</div>
            <div>
                <div id="mail_receiver_input_div" class="tagsinput-primary">
                    <input id="mail_receiver_input" name="tagsinput" class="tagsinput" data-role="tagsinput"
                           placeholder="enter email..."
                           style="display: none;">
                </div>
            </div>
        </div>
    </div>

    <script>
        $(function () {
            showWaitingDialog();
            setFilterEnvironmentUrl("{% url 'shared_storage:compare-filter-region-environments' %}");
            setFilterFolderUrl("{% url 'shared_storage:compare-filter-environment-folders' %}");
            init("{% url 'shared_storage:update-report-scheduler' %}",
                "{% url 'shared_storage:report-scheduler-list-page' %}");

            {# set value #}
            setLeftDataCenter('{{ scheduler_data.left_data_center.id}}', '{{ scheduler_data.left_data_center.name}}');
            setRightDataCenter('{{ scheduler_data.right_data_center.id}}', '{{ scheduler_data.right_data_center.name}}');
            setLeftEnvironment('{{ scheduler_data.left_environment.id}}');
            setRightEnvironment('{{ scheduler_data.right_environment.id}}');
            setLeftFolder('{{ scheduler_data.left_folder}}');
            setRightFolder('{{ scheduler_data.right_folder}}');

            {# set dropdown component #}
            setDefaultEnvironmentDropDown("left",
                '{{ scheduler_data.left_data_center.id}}',
                '{{ scheduler_data.left_environment.id}}',
                '{{ scheduler_data.left_environment.name}}');
            setDefaultEnvironmentDropDown("right",
                '{{ scheduler_data.right_data_center.id}}',
                '{{ scheduler_data.right_environment.id}}',
                '{{ scheduler_data.right_environment.name}}');
            setDefaultFolderDropDown("left", '{{ scheduler_data.left_folder}}');
            setDefaultFolderDropDown("right", '{{ scheduler_data.right_folder}}');

            setFrequencyDropdown('{{ scheduler_data.frequency_type.id}}', '{{ scheduler_data.frequency_type.display_name}}');
            setNextProceedTime('{{ scheduler_data.next_proceed_time }}');
            setInterval('{{ scheduler_data.interval }}');

            '{% for receiver in scheduler_data.mail_list %}'
                addReceivers('{{ receiver }}');
                '{% endfor %}'
            setReceivers();
        });

        updateBtnOnClick = function () {
            updateTask('{{ scheduler_data.task_id }}');
        }
    </script>
{% endblock %}