{% extends "shared_storage_admin_console_base.html" %}
{% load static from staticfiles %}
{% block resource %}
    <link href="{% static '/css/shared_storage/shared-storage-report-scheduler-list.css' %}" rel="stylesheet">
    <script src="{% static '/js/shared_storage/download_file_component.js' %}"></script>
{% endblock %}
{% block content %}
    <div id="task_list_container" class="custom_container admin_console_block_background">
        <div id="task_list_header_div" class="row no_row_margin">
            <div class="component_title">TASK</div>
            <div id="create_task_button_div">
                <a href="{% url 'shared_storage:report-scheduler-create-page' %}"
                   class="btn btn-block btn-lg btn-primary">Create</a>
            </div>
        </div>
        <div class="title_div row">
            <div class="key_div_width title_text vertical_align_middle">
                ID
            </div>
            <div class="data_center_div_width title_text vertical_align_middle">
                Data Center
            </div>
            <div class="environment_div_width title_text vertical_align_middle">
                Environment
            </div>
            <div class="folder_div_width title_text vertical_align_middle">
                Folder
            </div>
            <div class="time_div_width title_text vertical_align_middle">
                Last Proceed Time
            </div>
            <div class="time_div_width title_text vertical_align_middle">
                Next Proceed Time
            </div>
            <div class="status_div_width title_text vertical_align_middle">
                Status
            </div>
            <div class="title_text vertical_align_middle">
            </div>
        </div>

        {% for task in data %}
            <div class="scheduler_task row">
                <div class="key_div_width vertical_align_middle">{{ task.task_id }}</div>
                <div id="task_data_center_div" class="data_center_div_width vertical_align_middle">
                    <div id="left_data_center_div" class="row no-row-margin">
                        <img class="task_icon" src="{% static '/icons/scheduler_data_center.png' %}">
                        <div class="environment_text vertical_align_middle">
                            {{ task.left_data_center.name }}
                        </div>
                    </div>
                    <div id="right_data_center_div" class="row no-row-margin">
                        <img class="task_icon" src="{% static '/icons/scheduler_data_center.png' %}">
                        <div class="environment_text vertical_align_middle">
                            {{ task.right_data_center.name }}
                        </div>
                    </div>

                </div>
                <div class="environment_div_width vertical_align_middle">
                    <div id="base_env_div" class="row no-row-margin">
                        <img class="task_icon" src="{% static '/icons/scheduler_environment.png' %}">
                        <div class="environment_text vertical_align_middle">
                            {{ task.left_environment.name }}
                        </div>
                    </div>
                    <div id="compare_env_div" class="row no-row-margin">
                        <img class="task_icon" src="{% static '/icons/scheduler_environment.png' %}">
                        <div class="environment_text vertical_align_middle">
                            {{ task.right_environment.name }}
                        </div>
                    </div>

                </div>
                <div class="folder_div_width">
                    <div id="left_folder_div" class="row no_row_margin">
                        <img class="task_icon" src="{% static '/icons/scheduler_folder.png' %}">
                        <div class="environment_text vertical_align_middle">
                            {{ task.left_folder }}
                        </div>
                    </div>
                    <div id="right_folder_div" class="row no_row_margin">
                        <img class="task_icon" src="{% static '/icons/scheduler_folder.png' %}">
                        <div class="environment_text vertical_align_middle">
                            {{ task.right_folder }}
                        </div>
                    </div>
                </div>
                <div class="time_div_width vertical_align_middle">
                    <div id="last_proceed_time" class="vertical_align_middle">
                        <div class="task_proceed_time_text">
                            {{ task.last_proceed_time }}
                        </div>
                    </div>
                </div>
                <div class="time_div_width vertical_align_middle">
                    <div id="next_proceed_time" class="vertical_align_middle">
                        <div class="task_proceed_time_text">
                            {{ task.next_proceed_time }}
                        </div>
                    </div>
                </div>
                <div class="status_div_width vertical_align_middle">
                    {% if task.enable %}
                        <div id="task_status_in_progress" class="cursor_pointer"
                             onclick="stopScheduler('{{ task.task_id }}')">Running
                        </div>
                    {% else %}
                        <div id="task_status_stop" class="cursor_pointer"
                             onclick="restartScheduler('{{ task.task_id }}')">Pending
                        </div>
                    {% endif %}
                </div>
                <div id="task_action_div" class="row no_row_margin">
                    <div>
                        <a href="{% url 'shared_storage:report-scheduler-update-page' task.task_id %}" class="btn">
                            <img class="task_action_icon" src="{% static '/icons/scheduler_edit.png' %}">
                        </a>
                    </div>
                    <div>
                        <a onclick="deleteScheduler('{{ task.task_id }}')" class="btn">
                            <img class="task_action_icon" src="{% static '/icons/scheduler_delete.png' %}">
                        </a>
                    </div>
                </div>
            </div>
            <div class="task_divider"></div>
        {% endfor %}

    </div>
    <script>
        function deleteScheduler(task_id) {
            warningDialog("Delete scheduler?", "deleted scheduler can't not been recovered", "Delete",
                function () {
                    console.log("deleteScheduler confirm");
                    showWaitingDialog();

                    let post_body = {
                        "id": task_id
                    };

                    doPOST("{% url 'shared_storage:delete-report-scheduler' %}", post_body, function (response) {
                        let statusCode = response["status_code"];
                        let message = response["message"];

                        if (response == null || statusCode != 200) {
                            showErrorDialog(message);
                        } else {
                            successDialog("delete task success", function () {
                                window.location = "{% url 'shared_storage:report-scheduler-list-page' %}";
                            });
                        }
                    }, function (response) {
                        console.log(response);
                        showErrorDialog("delete task fail")
                    });
                })
        }

        function stopScheduler(taskId) {
            warningDialog("stop scheduler?", "the scheduler will stop sending daily report", "Stop", function () {
                postUpdateSchedulerStatus(taskId, false);
            });
        }

        function restartScheduler(taskId) {
            warningDialog("restart scheduler?", "the scheduler will start sending daily report", "Restart", function () {
                postUpdateSchedulerStatus(taskId, true);
            });
        }

        function postUpdateSchedulerStatus(task_id, status) {
            showWaitingDialog();

            let post_body = {
                "task_id": task_id,
                "enable": status
            };

            doPOST("{% url 'shared_storage:update-report-scheduler-status' %}", post_body, function (response) {
                let statusCode = response["status_code"];
                let message = response["message"];

                if (response == null || statusCode != 200) {
                    showErrorDialog(message);
                } else {
                    successDialog("update scheduler success", function () {
                        console.log(response);
                        window.location = "{% url 'shared_storage:report-scheduler-list-page' %}";
                    });
                }
            }, function (response) {
                console.log(response);
                showErrorDialog("update scheduler fail")
            });
        }

    </script>

{% endblock %}