{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <link href="{% static '/css/fontawesome/all.css' %}" rel="stylesheet">
    <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static '/css/flat-ui.css' %}" rel="stylesheet">
    <link href="{% static '/css/bootstrap-clockpicker.min.css' %}" rel="stylesheet">
    <link href="{% static '/css/admin_console.css' %}" rel="stylesheet">
    <link href="{% static '/css/main.css' %}" rel="stylesheet">
    <link href="{% static '/css/sweetalert.css' %}" rel="stylesheet">
    <script src="{% static '/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static '/js/sweetalert.min.js' %}"></script>
    <script src="{% static '/js/popper.js' %}"></script>
    <script src="{% static '/js/flat-ui.js' %}"></script>
    <script src="{% static '/js/bootstrap-clockpicker.min.js' %}"></script>
    <script src="{% static '/js/main.js' %}"></script>
    <script src="{% static '/js/rest-client.js' %}"></script>
    {% block resource %}
    {% endblock %}
</head>
<body>
<div class="base_container row">
    <div id="left_area">
        <div id="CMT_icon">
            <img src="{% static '/icons/CMT_icon2.png' %}">
        </div>
        <div id="info">
            <div id="module_info" class="info_block">
                <div class="info_title">MODULE</div>
                <div class="info_content">{{ navigation_info.module_data.current_module.display_name }}</div>
            </div>
        </div>
        <div id="function_list">
            {% if navigation_info.functions_data.server_log.visible or navigation_info.functions_data.ruleset_log.visible %}
                <div id="log_manager_div" class="function_div">
                    <a data-toggle="collapse" href="#log_manager_list_div" role="button" aria-expanded="false"
                       aria-controls="log_manager_list_div">
                        <div class="row no-row-margin">
                            <div class="function_icon_div">
                                <img class="function_icon" src="{% static '/icons/server_log_white.png' %}">
                            </div>
                            <div class="function_text vertical_align_middle">Log Manager</div>
                        </div>
                    </a>
                </div>
                <div id="log_manager_list_div" class="manager_list_div collapse multi-collapse">
                    {% if navigation_info.functions_data.server_log.visible %}
                        <div id="server_log_div">
                            <a href="{% url 'RulesetComparer:server-log' %}">
                                <div class="sub_function_text vertical_align_middle">Server Log</div>
                            </a>
                        </div>
                    {% endif %}
                    {% if navigation_info.functions_data.ruleset_log.visible %}
                        <div id="ruleset_log_div">
                            <a href="{% url 'RulesetComparer:ruleset-log-list' %}">
                                <div class="sub_function_text vertical_align_middle">Ruleset Log</div>
                            </a>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
            {% if navigation_info.functions_data.report_task.visible or navigation_info.functions_data.auto_sync_task.visible %}
                <div id="task_manager_div" class="function_div">
                    <a data-toggle="collapse" href="#task_manager_list_div" role="button" aria-expanded="false"
                       aria-controls="task_manager_list_div">
                        <div class="row no-row-margin">
                            <div class="function_icon_div">
                                <img class="function_icon" src="{% static '/icons/task_manage_white.png' %}">
                            </div>
                            <div class="function_text vertical_align_middle">Task Manager</div>
                        </div>
                    </a>
                </div>
                <div id="task_manager_list_div" class="manager_list_div collapse multi-collapse">
                    {% if navigation_info.functions_data.report_task.visible %}
                        <div id="report_task_div">
                            <a href="{% url 'RulesetComparer:report-scheduler-list' %}">
                                <div class="sub_function_text vertical_align_middle">ReportTask</div>
                            </a>
                        </div>
                    {% endif %}
                    {% if navigation_info.functions_data.auto_sync_task.visible %}
                        <div id="auto_sync_task_div">
                            <a href="{% url 'RulesetComparer:sync-scheduler-list' %}">
                                <div class="sub_function_text vertical_align_middle">AutoSyncTask</div>
                            </a>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
            {% if navigation_info.functions_data.recovery.visible %}
                <div id="recover_function_div" class="function_div">
                    <a href="{% url 'RulesetComparer:recover-filter-page' %}">
                        <div class="row no-row-margin">
                            <div class="function_icon_div">
                                <img id="recover_icon" class="function_icon"
                                     src="{% static '/icons/recover_icon.png' %}">
                            </div>
                            <div class="function_text vertical_align_middle">Recovery</div>
                        </div>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
    <div id="right_area">
        <div id="nav_bar_top_div" class="row no-row-margin">
            <div id="login_info_div" class="row no-row-margin" data-toggle="dropdown">

                <div id="login_account_div" class="vertical_align_middle">{{ navigation_info.user_data.name }}</div>
                <div id="dropdown_option_div" class="vertical_align_middle">
                    <span id="dropdown_icon_span" class="fui-triangle-down"></span>
                </div>
                <div id="user_action_dropdown_div" class="dropdown-menu" aria-labelledby="login_info_div">
                    <li>
                        <a href="{% url 'password_change' %}" id="reset_password_link" class="dropdown-item">Reset
                            Password</a>
                    </li>
                    {% if navigation_info.module_data.shared_storage.visible == 1 %}
                        <li>
                            <a href="{% url 'shared_storage:admin-console-index' %}" id="shared_storage_module_link"
                               class="dropdown-item">
                                Shared Storage</a>
                        </li>
                    {% endif %}
                    {% if navigation_info.module_data.setting.visible == 1 %}
                        <li>
                            <a href="{% url 'permission:permission-index' %}" id="setting_module_link"
                               class="dropdown-item">
                                Settings</a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="{% url 'logout' %}" id="logout_link" class="dropdown-item">Log Out</a>
                    </li>
                </div>
            </div>
        </div>
        <div id="content_area">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    {% csrf_token %}
</div>
</body>
<script>
    $('#user_action_dropdown_div a').on('click', function () {
        self.location = $(this).attr('href');
    });

    initLoadingGIF("{% static '/icons/loading.gif' %}");
</script>
</html>