{% extends "admin_console_base.html" %}
{% load staticfiles %}

{% block resource %}
    <link href="{% static '/css/git_country_path_list.css' %}" rel="stylesheet">
    <script src="{% static '/js/adminConsole/git-country-path-list.js' %}"></script>

{% endblock %}
{% block content %}
    <div id="git_path_list_container" class="custom_container admin_console_block_background">
        <div id="header_div" class="row no-row-margin">
            <div class="component_title">Git Path List</div>
            <div id="edit_button_div">
                <a id="edit_button" onclick="onClickButton(this)"
                   class="link-btn btn btn-block btn-lg btn-primary">Edit</a>
            </div>
        </div>
        <div id="list_title_div" class="row no-row-margin">
            <div id="id_title_div" class="id_width title_text vertical_align_middle">
                ID
            </div>
            <div id="module_title_div" class="module_width title_text vertical_align_middle">
                Module
            </div>
            <div id="country_title_div" class="country_width title_text vertical_align_middle">
                Country
            </div>
            <div id="repo_path_title_div" class="repo_width title_text vertical_align_middle">
                Git Repo
            </div>
            <div id="folder_title_div" class="folder_width title_text vertical_align_middle">
                Folder
            </div>
        </div>
        <div id="list_content_div">
            {% for git_country_path in git_country_path_list %}
                <div class="country_row_div row no-row-margin">
                    <div class="id_content_div id_width content_text vertical_align_middle">{{ git_country_path.id }}</div>
                    <div class="module_content_div module_width content_text vertical_align_middle">{{ git_country_path.module_data.display_name }}</div>
                    <div class="country_content_div vertical_align_middle country_width">
                        <div class="row no_row_margin">
                            <img class="task_nation_flag"
                                 src="{% static '/icons/national_flag/'|add:git_country_path.country.icon_file_name %}">
                            <div class="content_text country_name_tips">{{ git_country_path.country.full_name }}
                            </div>
                        </div>
                    </div>
                    <div id="{{ git_country_path.id }}_repo_path_content_div"
                         class="path_content_div repo_width content_text vertical_align_middle">
                        {{ git_country_path.repo_path }}
                    </div>
                    <div id="{{ git_country_path.id }}_repo_path_input_div"
                         class="path_input_div repo_width content_text vertical_align_middle">
                        <input id="{{ git_country_path.id }}_repo_path_input" type="text"
                               value="{{ git_country_path.repo_path }}"
                               placeholder="{{ git_country_path.repo_path }}"
                               class="path_input form-control"/>
                    </div>
                    <div id="{{ git_country_path.id }}_folder_content_div"
                         class="path_content_div folder_width content_text vertical_align_middle">
                        {{ git_country_path.folder }}
                    </div>
                    <div id="{{ git_country_path.id }}_folder_input_div"
                         class="path_input_div folder_width content_text vertical_align_middle">
                        <input id="{{ git_country_path.id }}_folder_input" type="text"
                               value="{{ git_country_path.folder }}"
                               placeholder="{{ git_country_path.folder }}"
                               class="path_input form-control"/>
                    </div>
                </div>
                {% if not forloop.last %}
                    <div class="custom_divider"></div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <script>
        $(function () {
            editPathUrl = "{% url 'RulesetComparer:git-country-path-edit' %}";
            '{% for git_country_path in git_country_path_list %}'
                gitPathIds.push('{{ git_country_path.id }}');
                '{% endfor %}'
        });
    </script>

{% endblock %}