{% extends "admin_console_base.html" %}
{% load staticfiles %}

{% block resource %}
    <link href="{% static '/css/git_path_manager.css' %}" rel="stylesheet">
    {#        <script src="{% static '/js/adminConsole/git-path-manager.js' %}"></script>#}

{% endblock %}
{% block content %}
    <div id="git_path_manager_container" class="admin_console_block_background custom_container">
        <div id="header_div" class="row no-row-margin">
            <div class="admin_console_page_title_div">Git Path Setting</div>
        </div>
        <div id="path_setting_div">
            <div class="country_setting_div row no-row-margin">
                <div>Taiwan:</div>
                <div><input type="text" placeholder="..." class="form-control"/></div>
            </div>
            <div class="country_setting_div row no-row-margin">
                <div>Korea:</div>
                <div><input type="text" placeholder="..." class="form-control"/></div>
            </div>
            <div class="country_setting_div row no-row-margin">
                <div>Japan:</div>
                <div><input type="text" placeholder="..." class="form-control"/></div>
            </div>
        </div>
    </div>
    <script>
    </script>

{% endblock %}