{% extends "admin_console_base.html" %}
{% load staticfiles %}
{% block content %}
<div id="server_log_container" class="admin_console_block_background">
    <div class="component_title">LOG TYPE</div>
    <div id="button_list" class="row">
        <div id="debug_log" class="button_div">
            <a href="{% url 'RulesetComparer:server-log-type' 0 %}">
                {% if log_type_key == 0 %}
                <button id="debug_log_btn_on_select" type="button" class="btn btn-outline-primary">Info Log</button>
                {% else %}
                <button type="button" class="btn btn-outline-primary">Info Log</button>
                {% endif %}
            </a>
        </div>
        <div id="info_log" class="button_div">
            <a href="{% url 'RulesetComparer:server-log-type' 1 %}">
                {% if log_type_key == 1 %}
                <button id="info_log_btn_on_select" type="button" class="btn btn-outline-info">Warning Log</button>
                {% else %}
                <button type="button" class="btn btn-outline-info">Warning Log</button>
                {% endif %}
            </a>
        </div>
        <div id="error_log" class="button_div">
            <a href="{% url 'RulesetComparer:server-log-type' 2 %}">
                {% if log_type_key == 2 %}
                <button id="error_log_btn_on_select" type="button" class="btn btn-outline-danger">Error Log</button>
                {% else %}
                <button type="button" class="btn btn-outline-danger">Error Log</button>
                {% endif %}
            </a>
        </div>
    </div>
    <div class="component_title">LOG CONTENT</div>
    <div id="log_content_area">
        {% for log in log_content %}
        {{ log }}
        {% if not forloop.last %}<br/>
        {% else %}
        <br/><br/>
        {% endif %}
        {% endfor %}
    </div>


</div>


{% endblock %}