{% extends "admin_console_base.html" %}
{% load staticfiles %}

{% block resource %}
    <link href="{% static '/css/sync_scheduler_create.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/material_green.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="{% static '/js/adminConsole/sync-scheduler-create.js' %}"></script>
{% endblock %}

{% block content %}
    <div id="create_sync_task_container" class="custom_container admin_console_block_background">
        <div id="header_div" class="row">
            <div class="page_title_div">Ruleset Sync Task</div>
            <div id="action_button_div" class="row no_row_margin">
                <div id="run_now_button_div">
                    <a id="run_now_btn" class="btn btn-block btn-lg btn-warning" onclick="runNowBtnOnClick()">Run
                    </a>
                </div>
                <div id="create_button_div">
                    <a id="create_btn" class="btn btn-block btn-lg btn-primary" onclick="createBtnOnClick()">Save
                    </a>
                </div>
            </div>
        </div>

        <div id="env_group_div" class="row no_row_margin">
            <div id="source_env_select_div" class="env_select_div">
                <div class="block_title_div">From :</div>
                <div id="source_env_dropdown_div" class="btn-group env_select_dropdown_div">
                    <button id="select_source_env_btn" data-toggle="dropdown"
                            class="env_select_dropdown_btn btn btn-primary dropdown-toggle"
                            type="button"
                            aria-expanded="false">Select <span class="caret"></span></button>
                    <ul id="source_env_select_list" role="menu" class="dropdown-menu env_select_dropdown_list_ul"
                        x-placement="bottom-start"
                        style="position: absolute; transform: translate3d(0px, 41px, 0px); top: 0px; left: 0px; will-change: transform;">
                        {% for data in source_environment %}
                            <li value="{{ data.id }}">
                                <a class="env_select_dropdown_list_item_text">{{ data.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div id="target_env_select_div" class="env_select_div">
                <div class="block_title_div">To :</div>
                <div id="target_env_dropdown_div" class="btn-group env_select_dropdown_div">
                    <button id="select_target_env_btn" data-toggle="dropdown"
                            class="env_select_dropdown_btn btn btn-primary dropdown-toggle"
                            type="button"
                            aria-expanded="false">Select <span class="caret"></span></button>
                    <ul id="target_env_select_list" role="menu" class="dropdown-menu env_select_dropdown_list_ul"
                        x-placement="bottom-start"
                        style="position: absolute; transform: translate3d(0px, 41px, 0px); top: 0px; left: 0px; will-change: transform;">
                        {% for data in target_environment %}
                            <li value="{{ data.id }}">
                                <a class="env_select_dropdown_list_item_text">{{ data.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <div id="country_select_div">
            <div class="block_title_div">Country :</div>

            <div id="country_check_box_div" class="row no_row_margin">
                {% for data in countries %}
                    <div class="checkbox_input_div form-check form-check-inline">
                        <input onclick="countryCheckboxOnChange(this)" class="form-check-input checkbox_input"
                               type="checkbox"
                               id="checkbox_input_{{ data.id }}" value="{{ data.id }}">
                        <label class="form-check-label" for="checkbox_input_{{ data.id }}"> {{ data.full_name }}</label>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div id="action_select_div">
            <div class="block_title_div">Sync Action :</div>
            <div id="action_checkbox_div" class="row no_row_margin">
                {% for action in action_list %}
                    <div class="checkbox_input_div form-check form-check-inline">
                        {% if action == "delete" %}
                            <input class="form-check-input checkbox_input"
                                   disabled
                                   type="checkbox"
                                   id="action_{{ action }}" value="{{ action }}">
                        {% else %}
                            <input onclick="actionCheckboxOnChanged(this)" class="form-check-input checkbox_input"
                                   type="checkbox"
                                   id="action_{{ action }}" value="{{ action }}">
                        {% endif %}
                        <label class="option_font_size form-check-label" for="action_{{ action }}"> {{ action }}</label>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div id="time_select_group_div" class="row no_row_margin">
            {% include 'date_time_picker.html' %}
        </div>

        <div id="repeat_frequency_div">
            {% include 'repeat_frequency_row.html' %}
        </div>

        <div id="mail_receiver_list_div">
            <div class="block_title_div">Receivers :</div>
            <div>
                <div id="mail_receiver_input_div" class="tagsinput-primary">
                    <input id="mail_receiver_input" name="tagsinput" class="tagsinput" data-role="tagsinput"
                           placeholder="enter email..."
                           style="display: none;">
                </div>
            </div>
        </div>
    </div>

    <script>
        init("{{ navigation_info.module_data.current_module.id }}",
            "{% url 'RulesetComparer:create-rulesets-sync-job' %}",
            "{% url 'RulesetComparer:sync-scheduler-list' %}");

        source_env_id = {{ source_environment.0.id }};
        source_env_name = "{{ source_environment.0.name }}";
        target_env_id = {{ target_environment.0.id }};
        target_env_name = "{{ target_environment.0.name }}";

        setSourceEnvSelected(source_env_id, source_env_name);
        setTargetEnvSelected(target_env_id, target_env_name);
        createBtnOnClick = function () {
            createTask();
        };
        runNowBtnOnClick = function () {
            runTask("{% url 'RulesetComparer:run-rulesets-sync-job' %}");
        }
    </script>
{% endblock %}