{% if ruleset_list.skipped_rulesets|length > 0 %}
    <div id="normal_env_rulesets_div">
        <div class="list_title">Rulesets Skipped List</div>
        <div class="list_remind_title">
            The following rulesets were not included in the comparison
        </div>
        {% for data in ruleset_list.skipped_rulesets %}
            <div class="list_ruleset_name">&ensp;&ensp;+ {{ data }}</div>
        {% endfor %}
        <br>
        <br>
    </div>
{% endif %}

{% if ruleset_list.normal_env_only_rulesets|length > 0 %}
    <div id="normal_env_rulesets_div">
        <div class="list_title">Rulesets exist on {{ normal_environment.name }} Only</div>
        <div class="list_remind_title">
            The following rulesets only exist on {{ normal_environment.name }}, we suggest you review them and commit
            back to us
        </div>
        {% for data in ruleset_list.normal_env_only_rulesets %}
            <div class="list_ruleset_name">&ensp;&ensp;+ {{ data.name }}</div>
        {% endfor %}
        <br>
        <br>
    </div>
{% endif %}

{% if ruleset_list.developer_env_only_rulesets|length > 0 %}
    <div id="developer_env_rulesets_div">
        <div class="list_title">Rulesets exist on {{ developer_environment.name }} Only</div>
        <div class="list_remind_title">
            The following rulesets only exist on {{ developer_environment.name }}, we suggest you review them and deploy
            to server or remove the deprecated files
        </div>
        {% for data in ruleset_list.developer_env_only_rulesets %}
            <div class="list_ruleset_name">&ensp;&ensp;+ {{ data.name }}</div>
        {% endfor %}
        <br>
        <br>
    </div>
{% endif %}

{% if ruleset_list.different_rulesets|length > 0 %}
    <div id="different_rulesets_div">
        <div class="list_title">Different Rulesets</div>
        <div class="list_remind_title">
            The following rulesets are different between {{ normal_environment.name }}
            and {{ developer_environment.name }}, please review them and commit your change back or deploy the latest
            version from {{ developer_environment.name }}
        </div>
        {% for data in ruleset_list.different_rulesets %}
            <div class="list_ruleset_name">&ensp;&ensp;+ {{ data.name }}</div>
        {% endfor %}
    </div>
{% endif %}