{% extends "base.html" %}
{% load staticfiles %}

{% block resource %}
    <link href="{% static '/css/rule_show_diff.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container-rule-diff container-fluid">
        <div class="modify_rule_list">
            <div class="nav" data-target=".modify_data">
                <div>
                    <i class="file_icon fas fa-align-justify"></i>
                </div>
                <div class="nav_title file_title"> {{ rule_name }}
                </div>
            </div>
            <div class="modified_rules">
                {% for data in add_list %}
                    <!-- parse rule in modify add list -->
                    {% include 'rule_diff_environment_only_name_row.html' %}
                    {% with title="Process" value=data.process %}
                        {% include 'rule_diff_add_list_row.html' %}
                    {% endwith %}
                    {% with title="Process Step" value=data.process_step %}
                        {% include 'rule_diff_add_list_row.html' %}
                    {% endwith %}
                    {% with title="Organization ID" value=data.organization_id %}
                        {% include 'rule_diff_add_list_row.html' %}
                    {% endwith %}
                    {% with title="Owner Role" value=data.owner_role %}
                        {% include 'rule_diff_add_list_row.html' %}
                    {% endwith %}
                    {% with title="Rule Type" value=data.rule_type %}
                        {% include 'rule_diff_add_list_row.html' %}
                    {% endwith %}
                    {% with title="Rule Key" value=data.key %}
                        {% include 'rule_diff_add_list_row.html' %}
                    {% endwith %}
                    {% with title="Rule Value" value=data.value %}
                        {% include 'rule_diff_add_list_value_row.html' %}
                    {% endwith %}
                    {% include 'rule_diff_add_list_divider_row.html' %}
                    {% with title="Rule Expression" value=data.expression %}
                        {% include 'rule_diff_add_list_value_row.html' %}
                    {% endwith %}
                    <div class="modify_end_divider"></div>
                {% endfor %}

                <!-- parse rule in modify remove list -->
                {% for data in remove_list %}
                    {% include 'rule_diff_environment_only_name_row.html' %}
                    {% with title="Process" value=data.process %}
                        {% include 'rule_diff_remove_list_row.html' %}
                    {% endwith %}
                    {% with title="Process Step" value=data.process_step %}
                        {% include 'rule_diff_remove_list_row.html' %}
                    {% endwith %}
                    {% with title="Organization ID" value=data.organization_id %}
                        {% include 'rule_diff_remove_list_row.html' %}
                    {% endwith %}
                    {% with title="Owner Role" value=data.owner_role %}
                        {% include 'rule_diff_remove_list_row.html' %}
                    {% endwith %}
                    {% with title="Rule Type" value=data.rule_type %}
                        {% include 'rule_diff_remove_list_row.html' %}
                    {% endwith %}
                    {% with title="Rule Key" value=data.key %}
                        {% include 'rule_diff_remove_list_row.html' %}
                    {% endwith %}
                    {% with title="Rule Value" value=data.value %}
                        {% include 'rule_diff_remove_list_value_row.html' %}
                    {% endwith %}
                    {% include 'rule_diff_remove_list_divider_row.html' %}
                    {% with title="Rule Expression" value=data.expression %}
                        {% include 'rule_diff_remove_list_value_row.html' %}
                    {% endwith %}
                    <div class="modify_end_divider"></div>
                {% endfor %}

                <!-- parse rule in modify modify list -->
                {% for data in modify_list %}
                    {% include 'rule_diff_environment_only_name_row.html' %}
                    {% with title="Process" value=data.process %}
                        {% include 'rule_diff_modify_list_row.html' %}
                    {% endwith %}
                    {% with title="Process Step" value=data.process_step %}
                        {% include 'rule_diff_modify_list_row.html' %}
                    {% endwith %}
                    {% with title="Organization ID" value=data.organization_id %}
                        {% include 'rule_diff_modify_list_row.html' %}
                    {% endwith %}
                    {% with title="Owner Role" value=data.owner_role %}
                        {% include 'rule_diff_modify_list_row.html' %}
                    {% endwith %}
                    {% with title="Rule Type" value=data.rule_type %}
                        {% include 'rule_diff_modify_list_row.html' %}
                    {% endwith %}
                    {% with title="Rule Key" value=data.key %}
                        {% include 'rule_diff_modify_list_row.html' %}
                    {% endwith %}
                    {% with title="Rule Value" base_value=data.base_value compare_value=data.compare_value %}
                        {% include 'rule_diff_modify_list_value_row.html' %}
                    {% endwith %}
                    {% include 'rule_diff_modify_list_divider_row.html' %}
                    {% with title="Rule Expression" base_value=data.base_expression compare_value=data.compare_expression %}
                        {% include 'rule_diff_modify_list_value_row.html' %}
                    {% endwith %}
                    {% if not forloop.last %}
                        <div class="modify_end_divider"></div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="vertical_distance"></div>
    </div>

{% endblock %}