#select_to_download_container {
    background-color: #f7f7f7;
    margin-top: -30px;
    padding-top: 30px;
    padding-bottom: 40px;
}

#select_data_div {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 3%;
    padding-right: 3%;
    margin: auto;
    margin-bottom: 30px;
    width: 35%;
}

#file_list_div {
    width: 70%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 3%;
    padding-right: 3%;
    margin: auto;
    display: none;

}

#filter_result_div {
    width: 70%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 3%;
    padding-right: 3%;
    margin: auto;
    display: none;
}

#data_center_select_div {
    margin-top: 20px;
}

#filter_div {
    margin-bottom: 20px;
}

#filter_button_div {
    width: 30%;
    text-align: right;
    margin-left: auto;
}

#filter_btn {
    background-color: #1abb9c;
}

#filter_input_div {
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
}

#filter_result_row_div {
    border: solid 0.5px;
    border-color: #1abb9c;
    border-radius: 3px;

}

#filter_result_row_data_div {
    padding-bottom: 5px;
}

#only_latest_version_div {
    margin-bottom: 40px;
}

#latest_version_text_div {
    margin-right: 10px;
    min-width: 125px;
}

#filter_result_download_selected_btn_div {
    display: none;
}

#file_list_download_selected_btn_div {
    display: none;
}

#filter_result_select_all_btn_div {
    margin-left: auto;
}

#file_list_select_all_btn_div {
    margin-left: auto;
}

.select_data_row_div {
    margin-bottom: 20px;
    width: 100%;
}

.select_data_title {
    font-size: 14px;
    font-weight: 700;
    width: 25%;
    margin-top: auto;
    margin-bottom: auto;
    min-width: 100px;
}

.drop_down_div {
    width: 75%;
}

.drop_down_button_width {
    width: 100%;
}

.drop_down_button_color {
    background-color: #088587;
    width: 100%;
}

.header_div {
    margin-bottom: 15px;
}

.header_result_title {
    margin-top: auto;
    margin-bottom: auto;
}

.row_title_div {
    width: 100%;
    border-bottom: solid 0.5px;
    border-color: #d4d7d7;
    background: #1abb9c;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.filter_result_row {
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.filter_result_row_icon {
    width: 24px;
    height: 24px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 15px;
    display: flex;
    align-items: center;
}

.filter_result_row_title_text {
    font-size: 14px;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: 600;
    color: #f6f8fa;
    border-color: #d4d7d7;
}

.filter_result_row_text {
    font-size: 14px;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: 500;
    word-break: break-all;
    margin-right: 15px;
}

.row_checkbox_div {
    margin-right: 15px;
}

.row_checkbox_width {
    width: 3%;
    margin-right: 10px;
}

.row_file_icon_width {
    width: 3%;
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

.row_file_path_width {
    width: 55%;
    margin-right: 10px;
}

.row_file_size_width {
    width: 15%;
    margin-right: 10px;
}

.row_modification_time_width {
    width: 15%;
}

.download_button_div {
    margin-right: 0px;
    margin-left: auto;
    min-width: 25%;
}

.download_button_width {
    width: 100%;
}

.download_selected_btn_div {
    margin-right: 4%;
    width: 48%;
}

.select_all_btn_div {
    width: 48%;
}

#only_latest_version_div .bootstrap-switch-square {
    margin-left: auto;
}

#only_latest_version_div .bootstrap-switch {
    margin-top: auto;
    margin-bottom: auto;
}

.filter_result_row .checkbox {
    margin-top: auto;
    margin-bottom: auto;
}

#file_list_row_title_div .row_file_path_width {
    width: 64%;
    margin-right: 5px;
    text-align: center;
}

#file_list_row_title_div .row_file_size_width {
    width: 12%;
    margin-right: 10px;
}

#file_list_row_title_div .row_modification_time_width {
    width: 15%;
}