#folder_compare_result_div {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    background: #edf0f1de;
    border-radius: 5px;
    padding: 15px 20px;
    margin-bottom: 20px;
}

.result_div {
    width: 49%;
}

.information_div {
    background: #ffffff;
    border-radius: 3px;
}

#middle_divider {
    width: 2%;
}

.folder_data_line{
    cursor: pointer;
}

.line_div {
    border: 0.5px solid #e2e3e3;
    border-bottom: none;
}

.line_div_bottom {
    border: 0.5px solid #e2e3e3;

}

.info_title {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 13px;
    font-weight: 600;
    min-width: 130px;
    padding: 2px 10px;
    background: #e2e3e3;
    margin-right: 20px;
}

.info_text {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 13px;
}

.folder_title_div {
    margin-top: 15px;
}

.folder_title_text {
    font-size: 14px;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: 600;
    color: #34495d;
    padding-left: 10px;
    border: solid 0.5px;
    border-color: #d4d7d7;
    background: #e2e3e3;
}

.folder_title_name_div {
    width: 63%;
}

.folder_title_size_div {
    width: 12%;
}

.folder_title_modification_div {
    width: 25%;
}

.folder_structure_div {
    background: white;
    border-radius: 3px;
    padding: 10px 15px 10px 15px;
    border-top-left-radius: unset;
    border-top-right-radius: unset;
}

.folder_name_info_div {
    width: 64%;
    margin-right: 1%;
}

.folder_other_info_div {
    width: 35%;
}

.expand_folder_icon_span {
    font-size: 16px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 5px;
}

.folder_icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-top: auto;
    margin-bottom: auto;
}

.folder_icon_type {
    margin-left: 1px;
}

.folder_text {
    font-size: 14px;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: 500;
}

.other_info_text {
    font-size: 13px;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: 500;
}

.folder_name {
    font-size: 16px;
    margin-top: auto;
    margin-bottom: auto;
}

.size {
    width: 34%;
    margin-right: 3%;
}

.modification_time {
    width: 63%;
}

.folder_child_div_0 .folder_name_info_div {
    width: 62%;
    margin-left: auto;
}

.folder_child_div_1 .folder_name_info_div {
    width: 59%;
    margin-left: auto;
}

.folder_child_div_2 .folder_name_info_div {
    width: 56%;
    margin-left: auto;
}

.folder_child_div_3 .folder_name_info_div {
    width: 53%;
    margin-left: auto;
}

.folder_child_div_4 .folder_name_info_div {
    width: 50%;
    margin-left: auto;
}

.folder_child_div_5 .folder_name_info_div {
    width: 47%;
    margin-left: auto;
}

.normal_text_color {
    color: #34495d;
}

.add_text_color {
    color: #3db39e;
    font-weight: 600;

}

.remove_text_color {
    color: #b2b0b09c;
    text-decoration: line-through;
}

.different_text_color {
    color: #e78880;
    font-weight: 600;

}

.folder_collapse_show_icon {
    width: 10px;
    height: 10px;
    margin-right: 5px;
    margin-top: auto;
    margin-bottom: auto;
}

.folder_collapse_hide_icon {
    width: 10px;
    height: 10px;
    margin-right: 5px;
    margin-top: auto;
    margin-bottom: auto;
    display: none;
}