{% load staticfiles %}
<div class="rulesets_list_row_div row no-row-margin">
    <div id="row_checkbox_div"
         class="content_text checkbox_space_set checkbox_rule_name check_width no-col-padding vertical_align_middle">
        <input type="checkbox" data-toggle="switch" name="{{ ruleset }}" data-on-color="primary"
               data-off-color="default" id="switch-03" onclick="onSelectedRules(this,'{{ ruleset }}','{{ action }}')"/>
    </div>
    <div id="row_ruleset_name_div" class="row_ruleset_name vertical_align_middle ruleset_name_width">
        {{ ruleset }}
    </div>
    <div id="row_action_div" class="content_text action_width">
        <img class="diff_icon" src="{% static '/icons/diff_icon.png' %}">
    </div>
</div>
{% if not forloop.last %}
    <div class="custom_divider"></div>
{% endif %}