{% extends "admin_console_base.html" %}
{% load static from staticfiles %}
{% block content %}
<div id="create_task_container" class="custom_container">
    <div id="title_row" class="row">
        <div class="component_title_modify_data">CREATE TASK</div>
        <div id="action_button_div" class="row no_row_margin">
            <div id="create_button_div" class="create_task_action_button_div">
                <a href="#fakelink" id="create_button" class="btn btn-block btn-lg btn-warning">SAVE</a>
            </div>
        </div>
    </div>
    <div id="env_select_group_div" class="row no_row_margin">
        <div class="env_select_div">
            <div class="env_select_title">Environment :</div>
            <div class="">
                <div class="btn-group env_select_dropdown_div">
                    <button data-toggle="dropdown" class="env_select_dropdown btn btn-primary dropdown-toggle"
                            type="button"
                            aria-expanded="false">Select <span class="caret"></span></button>
                    <ul role="menu" class="dropdown-menu env_select_dropdown_list_ul" x-placement="bottom-start"
                        style="position: absolute; transform: translate3d(0px, 41px, 0px); top: 0px; left: 0px; will-change: transform;">
                        <li><a class="env_select_dropdown_list_item_text" href="#">PROD</a></li>
                        <li><a class="env_select_dropdown_list_item_text" href="#">INT1</a></li>
                        <li><a class="env_select_dropdown_list_item_text" href="#">INT2</a></li>
                        <li><a class="env_select_dropdown_list_item_text" href="#">CT</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="env_select_div">
            <div class="env_select_title">Environment :</div>
            <div class="">
                <div class="btn-group env_select_dropdown_div">
                    <button data-toggle="dropdown" class="env_select_dropdown btn btn-primary dropdown-toggle"
                            type="button"
                            aria-expanded="false">Select <span class="caret"></span></button>
                    <ul role="menu" class="dropdown-menu env_select_dropdown_list_ul" x-placement="bottom-start"
                        style="position: absolute; transform: translate3d(0px, 41px, 0px); top: 0px; left: 0px; will-change: transform;">
                        <li><a class="env_select_dropdown_list_item_text" href="#">PROD</a></li>
                        <li><a class="env_select_dropdown_list_item_text" href="#">INT1</a></li>
                        <li><a class="env_select_dropdown_list_item_text" href="#">INT2</a></li>
                        <li><a class="env_select_dropdown_list_item_text" href="#">CT</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="country_select_div">
        <div class="env_select_title">Country :</div>
        <div id="country_check_box_div" class="row no_row_margin">
            <label class="checkbox country_check_box_group" for="checkbox_taiwan">
                <input type="checkbox" value="" id="checkbox_taiwan" data-toggle="checkbox"
                       class="custom-checkbox">
                <span class="icons">
                    <span class="icon-unchecked"></span>
                    <span class="icon-checked country_check_box_check"></span>
                </span>
                Taiwan
            </label>
            <label class="checkbox country_check_box_group" for="checkbox_USA">
                <input type="checkbox" value="" id="checkbox_USA" data-toggle="checkbox"
                       class="custom-checkbox">
                <span class="icons">
                    <span class="icon-unchecked"></span>
                    <span class="icon-checked country_check_box_check"></span>
                </span>
                USA
            </label>
            <label class="checkbox country_check_box_group" for="checkbox_UN">
                <input type="checkbox" value="" id="checkbox_UN" data-toggle="checkbox"
                       class="custom-checkbox">
                <span class="icons">
                    <span class="icon-unchecked"></span>
                    <span class="icon-checked country_check_box_check"></span>
                </span>
                UN
            </label>
            <label class="checkbox country_check_box_group" for="checkbox_China">
                <input type="checkbox" value="" id="checkbox_China" data-toggle="checkbox"
                       class="custom-checkbox">
                <span class="icons">
                    <span class="icon-unchecked"></span>
                    <span class="icon-checked country_check_box_check"></span>
                </span>
                China
            </label>
            <label class="checkbox country_check_box_group" for="1">
                <input type="checkbox" value="" id="1" data-toggle="checkbox"
                       class="custom-checkbox">
                <span class="icons">
                    <span class="icon-unchecked"></span>
                    <span class="icon-checked country_check_box_check"></span>
                </span>
                China
            </label>
            <label class="checkbox country_check_box_group" for="2">
                <input type="checkbox" value="" id="2" data-toggle="checkbox"
                       class="custom-checkbox">
                <span class="icons">
                    <span class="icon-unchecked"></span>
                    <span class="icon-checked country_check_box_check"></span>
                </span>
                China
            </label>
            <label class="checkbox country_check_box_group" for="3">
                <input type="checkbox" value="" id="3" data-toggle="checkbox"
                       class="custom-checkbox">
                <span class="icons">
                    <span class="icon-unchecked"></span>
                    <span class="icon-checked country_check_box_check"></span>
                </span>
                China
            </label>
            <label class="checkbox country_check_box_group" for="4">
                <input type="checkbox" value="" id="4" data-toggle="checkbox"
                       class="custom-checkbox">
                <span class="icons">
                    <span class="icon-unchecked"></span>
                    <span class="icon-checked country_check_box_check"></span>
                </span>
                China
            </label>
        </div>
    </div>
    <div id="time_select_group_div" class="row no_row_margin">
        <div id="select_proceed_time_div" class="time_select_div">
            <div class="env_select_title">Daily Proceed Time :</div>
            <div id="clock_picker_div" class="time_input_div input-group clockpicker" data-placement="left"
                 data-align="top"
                 data-autoclose="true">
                <input id="clock_picker_input" type="text" class="time_input form-control" placeholder="Ex. 8:00">
                <span id="clock_picker_right_span" class="time_input_right_span input-group-addon">
                    <span id="clock_picker_icon_span" class="time_input_icon_span glyphicon fui-time"></span>
                </span>
            </div>
        </div>
        <div id="select_interval_time_div" class="time_select_div">
            <div class="env_select_title">Interval Hour :</div>
            <div id="hour_input_div" class="time_input_div input-group" data-placement="left"
                 data-align="top"
                 data-autoclose="true">
                <input id="hour_input" type="text" class="time_input form-control" placeholder="Enter Interval..">
                <span id="hour_input_right_span" class="time_input_right_span input-group-addon">
                        <span id="hour_input_icon_span" class="time_input_icon_span">Hour</span>
                </span>
            </div>
        </div>
    </div>
</div>

{% endblock %}