html, body {
    height: 100%;
}

#component_div {
    width: 40%;
    padding: 30px;
    position: relative;
    top: 40%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    transform: translateY(-50%);
}

#title_div {
    color: #b21919;
    font-size: 24px;
    font-weight: 600;
}

#message_div {
    font-size: 16px;
}