{% extends "shared_storage_front_base.html" %}
{% load staticfiles %}

{% block resource %}
    <link href="{% static '/css/shared_storage/select-to-download.css' %}" rel="stylesheet">
    <link href="{% static '/css/shared_storage/download-file-folder-structure.css' %}" rel="stylesheet">

    <script src="{% static '/js/shared_storage/select_to_download.js' %}"></script>
    <script src="{% static '/js/shared_storage/download_filter_result.js' %}"></script>
{% endblock %}

{% block content %}
    <div id="select_to_download_container" class="container-fluid">
        <div id="select_data_div" class="white_block_div">
            <p class="header-text">Download</p>
            <div id="data_center_select_div" class="select_data_row_div row no-row-margin">
                <div class="select_data_title">Data Center</div>
                <div class="drop_down_div">
                    {% with type="region" data=data %}
                        {% include 'dropdown_component.html' %}
                    {% endwith %}
                </div>
            </div>
            <div id="environment_select_div" class="select_data_row_div row no-row-margin">
                <div class="select_data_title">Environment</div>
                <div class="drop_down_div">
                    {% with type="environment" data="" %}
                        {% include 'dropdown_component.html' %}
                    {% endwith %}
                </div>
            </div>
            <div id="folder_select_div" class="select_data_row_div row no-row-margin">
                <div class="select_data_title">Country</div>
                <div class="drop_down_div">
                    {% with type="folder"  data="" %}
                        {% include 'dropdown_component.html' %}
                    {% endwith %}
                </div>
            </div>
            <div id="module_select_div" class="select_data_row_div row no-row-margin">
                <div class="select_data_title">Module</div>
                <div class="drop_down_div">
                    {% with type="module" data="" %}
                        {% include 'dropdown_component.html' %}
                    {% endwith %}
                </div>
            </div>
            <div id="latest_version_select_div" class="select_data_row_div row no-row-margin">
                <div class="select_data_title">Version</div>
                <div class="drop_down_div">
                    {% with type="latest_version" data="" %}
                        {% include 'dropdown_component.html' %}
                    {% endwith %}
                </div>
            </div>
            <div id="filter_div" class="select_data_row_div row no-row-margin">
                <div class="select_data_title">Filter</div>
                <div class="drop_down_div">
                    <div id="filter_input_div" class="tagsinput-primary">
                        <input id="filter_tags_input" name="tagsinput" class="tagsinput" data-role="tagsinput"
                               placeholder="bre_translation / onepad / template...etc"
                               style="display: none;">
                    </div>
                </div>
            </div>
            <div id="filter_button_div">
                <button id="filter_btn" class="btn btn-default btn-wide"
                        onclick="onClickSearchButton('{% url 'shared_storage:select-to-download-filter-result' %}','{% url 'shared_storage:select-to-download-file-list' %}')">
                    Search
                </button>
            </div>
        </div>
        <div id="filter_result_div" class="white_block_div">
            <div id="filter_result_header_div" class="header_div row no-row-margin">
                <p id="filter_result_title" class="header_result_title header-text">Filter Result</p>
                <div class="download_button_div row no_row_margin">
                    <div id="filter_result_download_selected_btn_div"
                         class="download_selected_btn_div download-icon no-col-padding">
                        <button id="filter_result_download_selected_btn"
                                class="download_button_width btn btn-inverse btn-font-13"
                                onclick="onClickDownloadButton()">
                            Download(1)
                        </button>
                    </div>
                    <div id="filter_result_select_all_btn_div" class="select_all_btn_div download-icon no-col-padding">
                        <button id="filter_result_select_all_btn" class="download_button_width btn btn-info btn-font-13"
                                onclick="filteredFilesSelectAll()">Select All
                        </button>
                    </div>
                </div>
            </div>
            <div id="filter_result_row_div">
                <div id="filter_result_row_title_div" class="row_title_div row no-row-margin">
                    <div id="checkbox_title_div" class="row_checkbox_width filter_result_row_title_text"></div>
                    <div id="file_icon_title_div" class="row_file_icon_width filter_result_row_title_text"></div>
                    <div id="file_path_title_div" class="row_file_path_width filter_result_row_title_text">File</div>
                    <div id="file_size_title_div" class=" row_file_size_width filter_result_row_title_text">Size</div>
                    <div id="modification_time_title_div"
                         class="row_modification_time_width filter_result_row_title_text">
                        Modification Time
                    </div>
                </div>
                <div id="filter_result_row_data_div">
                    {# after filter will response download_filter_result.html #}
                </div>
            </div>
        </div>
        <div id="file_list_div" class="white_block_div">
            <div id="file_list_header_div" class="header_div row no-row-margin">
                <p id="file_list_title" class="header_result_title header-text">File List</p>
                <div class="download_button_div row no_row_margin">
                    <div id="file_list_download_selected_btn_div"
                         class="download_selected_btn_div download-icon no-col-padding">
                        <button id="file_list_download_selected_btn"
                                class="download_button_width btn btn-inverse btn-font-13">
                            Download(1)
                        </button>
                    </div>
                    <div id="file_list_select_all_btn_div" class="select_all_btn_div download-icon no-col-padding">
                        <button id="file_list_select_all_btn" class="download_button_width btn btn-info btn-font-13"
                                onclick="fileListSelectAll()">Select All
                        </button>
                    </div>
                </div>
            </div>
            <div id="file_list_data_div">
                <div id="file_list_row_title_div" class="row_title_div row no-row-margin">
                    <div id="file_path_title_div" class="row_file_path_width filter_result_row_title_text">File</div>
                    <div id="file_size_title_div" class=" row_file_size_width filter_result_row_title_text">Size</div>
                    <div id="modification_time_title_div"
                         class="row_modification_time_width filter_result_row_title_text">
                        Modification Time
                    </div>
                </div>
                <div id="file_list_row_list_div">
                    {# after filter will response download_file_list.html #}
                </div>
            </div>
        </div>
    </div>
    <script>
        onRegionSelected = function (regionId) {
            filterEnvironments(regionId, "{% url 'shared_storage:download-filter-region-environments' %}");
        };
        onEnvironmentSelected = function () {
            filterFolders("{% url 'shared_storage:download-filter-environment-folders' %}");
        };
        onFolderSelected = function () {
            filterModuleFolders("{% url 'shared_storage:download-filter-folder-modules' %}")
        };
        onModuleSelected = function () {
            filterLatestVersionFolders("{% url 'shared_storage:download-filter-latest-version-folder' %}")
        };
        onClickDownloadButton = function () {
            downloadFiles("{% url 'shared_storage:select-to-download-files' %}")
        }
    </script>
{% endblock %}


