{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static '/css/flat-ui.css' %}" rel="stylesheet">
    <link href="{% static '/css/sweetalert.css' %}" rel="stylesheet">
    <link href="{% static '/css/fontawesome/all.css' %}" rel="stylesheet">
    <link href="{% static '/css/main.css' %}" rel="stylesheet">
    <script src="{% static '/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static '/js/popper.js' %}"></script>
    <script src="{% static '/js/flat-ui.js' %}"></script>
    <script src="{% static '/js/application.js' %}"></script>
    <script src="{% static '/js/sweetalert.min.js' %}"></script>
    <script src="{% static '/js/main.js' %}"></script>
    <script src="{% static '/js/rest-client.js' %}"></script>

    {% block resource %}
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-default navbar-expand-lg" role="navigation">
    <a class="navbar-brand" href="#">Shared Storage Manager</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse-01"></button>
    <div class="collapse navbar-collapse" id="navbar-collapse-01">
        <ul class="nav navbar-nav mr-auto">
            <li class="active"><a href="{% url 'shared_storage:select-to-compare-page' %}">Compare</a></li>
            <li class="active"><a href="{% url 'shared_storage:select-to-download-page' %}">Download</a></li>
        </ul>
    </div>
</nav>
{% csrf_token %}
<div id="block_content_div">
    {% block content %}
    {% endblock %}
</div>
</body>
<script>
    initLoadingGIF("{% static '/icons/loading.gif' %}");
</script>
</html>